{% extends 'layout.html' %}
{% load staticfiles %}
{% block contenido %}
                <!-- /Header mobile -->
                <!-- Page Content Wrap -->
                <div class="top_panel_title top_panel_style_8 title_present breadcrumbs_present scheme_original">
                    <div class="top_panel_title_inner top_panel_inner_style_8">
                        <div class="content_wrap">
                            <h1 class="page_title">CONTACTO</h1>
                            <div class="breadcrumbs">
                                <a class="breadcrumbs_item home" href="index.html">INICIO</a>
                                <span class="breadcrumbs_delimiter"></span>
                                <span class="breadcrumbs_item current">CONTACTO</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page_content_wrap page_paddings_no">
                    <!-- Content -->
                    <div class="content">
                        <article class="post_item post_item_single post_featured_default page">
                            <section class="post_content">
                                <div class="content_wrap">
                                    <!-- Services section -->
                                    <div class="sc_section contact_services margin_top_medium margin_bottom_small">
                                        <div class="sc_section_inner">
                                            <div class="sc_section_content_wrap">
                                                <div id="sc_services_2_wrap" class="sc_services_wrap">
                                                    <div id="sc_services_2" class="sc_services sc_services_style_services-1 sc_services_type_icons margin_top_tiny margin_bottom_null width_100_per">
                                                        <div class="sc_columns columns_wrap">
                                                            <!-- Services item -->
                                                            <div class="column-1_3 column_padding_bottom">
                                                                <div id="sc_services_2_1" class="sc_services_item sc_services_item_1 odd first">
                                                                    <span class="sc_icon icon-back"></span>
                                                                    <div class="sc_services_item_content">
                                                                        <div class="sc_services_item_description">
                                                                            <p><a href="#">cotopaxitenisclub@gmail.com</a></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div><!-- /Services item --><!-- Services item --><div class="column-1_3 column_padding_bottom">
                                                                <div id="sc_services_2_2" class="sc_services_item sc_services_item_2 even">
                                                                    <span class="sc_icon icon-smartphone"></span>
                                                                    <div class="sc_services_item_content">
                                                                        <div class="sc_services_item_description">
                                                                            <p>032262086</p>
                                                                            <p>0995915350</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div><!-- /Services item --><!-- Services item --><div class="column-1_3 column_padding_bottom">
                                                                <div id="sc_services_2_3" class="sc_services_item sc_services_item_3 odd">
                                                                    <span class="sc_icon icon-home-1"></span>
                                                                    <div class="sc_services_item_content">
                                                                        <div class="sc_services_item_description">
                                                                            <p>Panamericana norte</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- /Services item -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Services section -->
                                </div>
                                <!-- Contact form section -->
                                <div class="sc_section alter_light_bg padding_top_80_imp padding_bottom_60_imp">
                                    <div class="sc_section_inner">
                                        <div class="sc_section_content_wrap">
                                            <div class="content_wrap">
                                                <div id="sc_form_2_wrap" class="sc_form_wrap">
                                                    <div id="sc_form_2" class="sc_form sc_form_style_form_1 aligncenter contact_form_custom_1">
                                                        <h2 class="sc_form_title sc_item_title">CONTACTO</h2>
                                                        <div class="sc_form_descr sc_item_descr">Siempre son bienvenidos todos sus comentarios y sugerencias. Por favor contáctenos a través de nuestros canales:

</div>
                                                        <form id="sc_form_2_form" data-formtype="form_1" method="post" action="/mensaje">
                                                            {% csrf_token %}
                                                            <div class="sc_form_info">
                                                                <div class="sc_form_item sc_form_field label_over">
                                                                    <label class="required" for="sc_form_username">NOMBRE</label>
                                                                    <input id="sc_form_username" type="text" name="nombre" placeholder="NOMBRE *">
                                                                </div>
                                                                <div class="sc_form_item sc_form_field label_over">
                                                                    <label class="required" for="sc_form_email">EMAIL</label>
                                                                    <input id="sc_form_email" type="text" name="email" placeholder="EMAIL *">
                                                                </div>
                                                                <div class="sc_form_item sc_form_field label_over">
                                                                    <label class="required" for="sc_form_subj">TEMA</label>
                                                                    <input id="sc_form_subj" type="text" name="asunto" placeholder="TEMA">
                                                                </div>
                                                            </div>
                                                            <div class="sc_form_item sc_form_message label_over">
                                                                <label class="required" for="sc_form_message">MENSAJE</label>
                                                                <textarea id="sc_form_message" name="mensaje" placeholder="MENSAJE"></textarea>
                                                            </div>
                                                            <div class="sc_form_item sc_form_button">
                                                                <button>ENVIAR</button>
                                                            </div>
                                                            <div class="result sc_infobox"></div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Contact form section -->
                                <!-- Google Map section -->
                                <div class="sc_section">
                                    <div class="sc_section_inner">
                                        <div class="sc_section_content_wrap">
                                            <div id="sc_googlemap_1_wrap" class="sc_googlemap_wrap">
                                                <div id="sc_googlemap_1" class="sc_googlemap width_100_per height_590" data-zoom="13" data-style="custom">
                                                    <div id="sc_googlemap_1_1" class="sc_googlemap_marker" data-title="Cotopaxi Tenis Club" data-description="&lt;p&gt;&lt;strong&gt;Cotopaxi Tenis Club&lt;/strong&gt;&lt;br /&gt;
Panamericana Km 7, Laigua (6,50 km) &lt;/p&gt;" data-address="Cotopaxi Tenis Club" data-latlng="" data-point="{% static 'img/mapa.png' %}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Google Map section -->
                            </section>
                        </article>
                    </div>
                    <!-- /Content -->
                </div>
                <!-- /Page Content Wrap -->
                <!-- Footer -->
                {% endblock %}