{% extends 'layout.html' %}
{% load staticfiles %}
{% block contenido %}
                <!-- /Header mobile -->
                <!-- Page Content Wrap -->
                <div class="top_panel_title top_panel_style_8  title_present breadcrumbs_present scheme_original">
                    <div class="top_panel_title_inner top_panel_inner_style_8 ">
                        <div class="content_wrap">
                            <h1 class="page_title">DIRECTORIO</h1>
                            <div class="breadcrumbs">
                                <a class="breadcrumbs_item home" href="index.html">INICIO</a>
                                <span class="breadcrumbs_delimiter"></span>
                                <span class="breadcrumbs_item current">DIRECTORIO</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page_content_wrap page_paddings_yes">
                    <div class="content_wrap">
                        <!-- Content -->
                        <div class="content">
                            <article class="post_item post_item_single page">
                                <section class="post_content ">
                                    <!-- Shortcode: Table -->
                                    <div class="sc_section">
                                        <div class="sc_section_inner">
                                            <div class="sc_section_content_wrap">
                                                <div class="sc_table width_100_per">
                                                    <table>
                                                        <tbody>
                                                        <tr>
                                                            <th class="width_10_per" colspan="3">DIRECTORIO DEL COTOPAXI TENIS CLUB PERIODO 2017-2019</th>
                                                        </tr>
                                                        <tr class="text_align_center">
                                                            <td>1</td>
                                                            <td style="text-align: justify; padding: 1%"><strong>Presidente</strong></td>
                                                            <td style="text-align: justify; padding: 1%">MIGUEL SANSUR HOLGUÍN</td>
                                                        </tr>
                                                        <tr class="text_align_center">
                                                            <td>2</td>
                                                            <td style="text-align: justify; padding: 1%"><strong>Vicepresidente</strong></td>
                                                            <td style="text-align: justify; padding: 1%">CHRISTIAN RUBEN VACA FARINANGO</td>
                                                        </tr>
                                                        <tr class="text_align_center">
                                                            <td>3</td>
                                                            <td style="text-align: justify; padding: 1%"><strong>Secretario</strong></td>
                                                            <td style="text-align: justify; padding: 1%">NELSON EDUARDO SANCHEZ FIGUEROA</td>
                                                        </tr>
                                                        <tr class="text_align_center">
                                                            <td>4</td>
                                                            <td style="text-align: justify; padding: 1%"><strong>Tesorero</strong></td>
                                                            <td style="text-align: justify; padding: 1%">SANTIAGO SANSUR HOLGUIN</td>
                                                        </tr>
                                                        <tr class="text_align_center">
                                                            <td>5</td>
                                                            <td style="text-align: justify; padding: 1%"><strong>Primer Vocal Principal</strong></td>
                                                            <td style="text-align: justify; padding: 1%">FERNANDO ANDRÉS ESPÍNDOLA RIVERA</td>
                                                        </tr>
                                                        <tr class="text_align_center">
                                                            <td>6</td>
                                                            <td style="text-align: justify; padding: 1%"><strong>Segundo Vocal Principal</strong></td>
                                                            <td style="text-align: justify; padding: 1%">RENATO LANAS CAJIAO</td>
                                                        </tr>
                                                        <tr class="text_align_center">
                                                            <td>7</td>
                                                            <td style="text-align: justify; padding: 1%"><strong>Tercer Vocal Principal</strong></td>
                                                            <td style="text-align: justify; padding: 1%">EDUARDO COBO CRUZ</td>
                                                        </tr>
                                                        <tr class="text_align_center">
                                                            <td>8</td>
                                                            <td style="text-align: justify; padding: 1%"><strong>Primer Vocal Suplente</strong></td>
                                                            <td style="text-align: justify; padding: 1%">FRANCISCO MANCHENO JARAMILLO</td>
                                                        </tr>
                                                        <tr class="text_align_center">
                                                            <td>9</td>
                                                            <td style="text-align: justify; padding: 1%"><strong>Segundo Vocal Suplente</strong></td>
                                                            <td style="text-align: justify; padding: 1%">ALEJANDRO FERNANDO SOTOMAYOR MORENO</td>
                                                        </tr>
                                                        <tr class="text_align_center">
                                                            <td>10</td>
                                                            <td style="text-align: justify; padding: 1%"><strong>Tercer Vocal Suplente</strong></td>
                                                            <td style="text-align: justify; padding: 1%">ANTONIO RAÚL ALFREDO LANAS CEVALLOS</td>
                                                        </tr>
                                                        <tr class="text_align_center">
                                                            <td>11</td>
                                                            <td style="text-align: justify; padding: 1%"><strong>Comisario</strong></td>
                                                            <td style="text-align: justify; padding: 1%">MARCOS XAVIER GUTIERREZ OJEDA</td>
                                                        </tr>
                                                        <tr class="text_align_center">
                                                            <td>12</td>
                                                            <td style="text-align: justify; padding: 1%"><strong>Comisario</strong></td>
                                                            <td style="text-align: justify; padding: 1%">CARLOS ANTONIO ZAMORA CORNEJO</td>
                                                        </tr>
                                                        
                                                        </tbody>
                                                    </table>
                                                    <p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Shortcode: Table -->
                                </section>
                            </article>
                        </div>
                        <!-- /Content -->
                        
                    </div>
                </div>
                <!-- /Page Content Wrap -->
                <!-- Footer -->
{% endblock %}