{% extends 'layout.html' %}
{% load staticfiles %}
{% block contenido %}
                <!-- /Header mobile -->
                <!-- Page Content Wrap -->
                <div class="top_panel_title top_panel_style_8 title_present breadcrumbs_present scheme_original">
                    <div class="top_panel_title_inner top_panel_inner_style_8">
                        <div class="content_wrap">
                            <h1 class="page_title">TORNEO DE DOBLES</h1>
                            <div class="breadcrumbs">
                                <a class="breadcrumbs_item home" href="index.html">INICIO</a>
                                <span class="breadcrumbs_delimiter"></span>
                                <span class="breadcrumbs_item">ACTIVIDADES</span>
                                 <span class="breadcrumbs_delimiter"></span>
                                <span class="breadcrumbs_item">TORNEOS</span>
                                 <span class="breadcrumbs_delimiter"></span>
                                <span class="breadcrumbs_item current">TORNEO DE DOBLES</span>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="page_content_wrap page_paddings_no">
                    <!-- Content -->
                    <div class="content">

                        <article class="post_item post_item_single page">

                            <section class="post_content">
                                <!-- Greeting section-->

                                <!-- /Greeting section-->
                                <!-- Field Review Section-->

                                <div class="sc_content custom_slider_1 alter_light_bg">
                                    <div class="content_wrap">
                                        <div class="columns_wrap sc_columns columns_nofluid sc_columns_count_2">
                                            <!-- Features -->
                                            <div class="column-1_2 sc_column_item sc_column_item_1 odd first">
                                                <p style="text-align: justify;">
                                    En el Torneo podrán participar todos los socios/as, hijos de socios e integrantes de las diferentes escuelas de tenis que tenemos en el club.
                                </p>
                                                <h2 style="font-size: 35px;" class="sc_title sc_title_regular  margin_bottom_null">Categorías</h2>
                                                <div class=" margin_bottom_25_imp padding_right_5_per_imp">
                                                    <ul class="sc_list sc_list_style_iconed margin_top_null margin_bottom_tiny-">
                                                    <li class="sc_list_item odd first" title="No daily water usage">
                                                        <span class="sc_list_icon icon-check93"></span>
                                                        Primera
                                                    </li>
                                                    <li class="sc_list_item even">
                                                        <span class="sc_list_icon icon-check93"></span>Segunda</li>
                                                    <li class="sc_list_item odd">
                                                        <span class="sc_list_icon icon-check93"></span>Tercera
                                                    </li>
                                                    <li class="sc_list_item even">
                                                        <span class="sc_list_icon icon-check93"></span>Cuarta
                                                    </li>

                                                </ul>
                                                </div>
                                                <h2 style="font-size: 35px;" class="sc_title sc_title_regular margin_bottom_null">Modalidad</h2>
                                                <p class="font_size_0_875em">Dobles por categorías
                                                </p>
                                                <h2 style="font-size: 35px;" class="sc_title sc_title_regular margin_bottom_null">Sistema de juego</h2>
                                                <div class=" margin_bottom_25_imp padding_right_5_per_imp">
                                                    <p class="font_size_0_875em" style="text-align: justify;">
                                                        El sistema de juego del torneo de dobles será de round robin agrupados en cuadros de 3 o 4 parejas, clasificando 2 al cuadro principal y los restantes al cuadro de consuelo que se juega en la modalidad de eliminación simple. <br><br>
Los partidos se jugarán: 2 sets completos con punto de oro en 40 iguales y en caso de un tercer set se jugará un match tie break de 10 puntos.<br><br>
En caso de empate entre dos parejas para saber quién es el primero del grupo se escoge al ganador del encuentro entre los dos participantes.<br><br>
En caso de empate entre tres o cuatro parejas primero se hace conteo de sets entre los implicados, después conteo de games.<br><br>

                                                    </p>
                                                    <h2 style="font-size: 35px;" class="sc_title sc_title_regular margin_bottom_null">Sanciones</h2>
                                                <p class="font_size_0_875em" style="text-align: justify;">Los partidos serán programados a una hora fija si los participantes no se encuentran a la hora indicada se les esperará un máximo de 20 minutos, caso contrario se les aplicará una no- presentación al partido (w.o).
                                                </p>
                                                </div>


                                            </div><!-- /Features --><!-- Slider --><div class="column-1_2 sc_column_item sc_column_item_2 even text_align_center">
                                                <div class="sc_column_item_inner field_review_slider_pattern">
                                                    <div id="sc_slider_1" class="sc_slider sc_slider_swiper swiper-slider-container sc_slider_height_fixed sc_slider_nocontrols sc_slider_pagination sc_slider_bg width_100per border_none_imp" data-old-height="500px" data-interval="3000">
                                                        <div class="slides swiper-wrapper">
                                                            <div style="background-image: url({% static './img/ranking1.jpg' %});" class="swiper-slide field_review_slider_slide1" data-style="width:100%;height:500px;"></div>
                                                            <div style="background-image: url({% static './img/ranking2.jpg' %});" class="swiper-slide field_review_slider_slide2" data-style="width:100%;height:500px;"></div>

                                                        </div>
                                                        <div class="sc_slider_pagination_wrap"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /Slider -->
                                        </div>
                                    </div>
                                </div>
                                <!-- /Field Review Section-->

                            </section>
                        </article>
                    </div>
                    <!-- /Content -->
                <!-- /Page Content Wrap -->
                <!-- Footer -->
{% endblock %}