{% extends 'layout.html' %}
{% load staticfiles %}
{% block contenido %}
    <!-- /Header mobile -->
    <!-- Page Content Wrap -->
    <div class="top_panel_title top_panel_style_8  title_present breadcrumbs_present scheme_original">
        <div class="top_panel_title_inner top_panel_inner_style_8 ">
            <div class="content_wrap">
                <h1 class="page_title">ESTATUTOS</h1>
                <div class="breadcrumbs">
                    <a class="breadcrumbs_item home" href="index.html">INICIO</a>
                    <span class="breadcrumbs_delimiter"></span>
                    <span class="breadcrumbs_item">EL CLUB</span>
                             <span class="breadcrumbs_delimiter"></span>
                    <span class="breadcrumbs_item">GALERÍA</span>
                             <span class="breadcrumbs_delimiter"></span>
                    <span class="breadcrumbs_item current">ESTATUTOS</span>
                </div>
            </div>
        </div>
    </div>
    <div class="page_content_wrap page_paddings_yes">
        <div class="content_wrap">
            <!-- Content -->
            <div class="content">
                <article class="post_item post_item_single page">
                    <section class="post_content ">
                        <!-- Shortcode: Accordion -->
                        <div class="sc_section">
                            <div class="sc_section_inner">
                                <div class="sc_section_content_wrap">
                                    <h3 class="sc_title sc_title_regular margin_top_null margin_bottom_medium">ESTATUTO
                                        CODIFICADO CON LAS REFORMAS DEL CLUB SOCIAL, CULTURAL Y DEPORTIVO "COTOPAXI
                                        TENIS CLUB"</h3>
                                    <div class="sc_accordion" data-active="0">
                                        <div class="sc_accordion_item odd first">
                                            <h5 class="sc_accordion_title">
                                                <span class="sc_accordion_icon sc_accordion_icon_closed icon-plus"></span>
                                                <span class="sc_accordion_icon sc_accordion_icon_opened icon-minus"></span>
                                                CAPÍTULO PRIMERO NOMBRE, DOMICILIO, Y NATURALEZA JURÍDICA

                                            </h5>
                                            <div class="sc_accordion_content">
                                                <p style="text-align: justify;"><strong> ART.1.-</strong> El Club
                                                    Social, Cultural y Deportivo "Cotopaxi Tenis Club", fundado en la
                                                    ciudad de Latacunga el 4 de febrero de 1925, es una Institución de
                                                    Derecho Privado sin fines de lucro. Registrado en el Ministerio del
                                                    Deporte el 28 de Abril de 2016 con oficio N° MD-DJAD-2016-0668 en
                                                    calidad de Club Social, Cultural y Deportivo, no sujeto a los
                                                    controles de la Ley del Deporte, Educación Física y Recreación ni
                                                    podrá gozar de los derechos ni recibir ninguno de los beneficios
                                                    prescritos en ella.<br>
                                                    <strong>ART.2.-</strong> El domicilio legal y principal del Club
                                                    Social, Cultural y Deportivo "Cotopaxi Tenis Club" es la ciudad de
                                                    Latacunga, provincia de Cotopaxi, sin perjuicio de que pueda
                                                    establecer domicilios especiales en cualquier otro lugar de la
                                                    República.
                                                    <br>
                                                    <strong>ART.3.-</strong> El Club Social, Cultural y Deportivo
                                                    "Cotopaxi Tenis Club" es una persona jurídica de carácter civil que
                                                    se rige por lo prescrito en la Constitución de la República del
                                                    Ecuador, el Libro Primero del Código Civil, la Ley del Deporte,
                                                    Educación Física y Recreación, el Estatuto debidamente aprobado y
                                                    sus reformas, el Reglamento Interno y las demás leyes del Estado.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="sc_accordion_item even">
                                            <h5 class="sc_accordion_title">
                                                <span class="sc_accordion_icon sc_accordion_icon_closed icon-plus"></span>
                                                <span class="sc_accordion_icon sc_accordion_icon_opened icon-minus"></span>
                                                CAPÍTULO SEGUNDO OBJETIVO, FINES ESPECÍFICOS Y FUENTES DE INGRESOS

                                            </h5>
                                            <div class="sc_accordion_content">
                                                <p style="text-align: justify;"><strong>ART.4.-</strong> El Club Social,
                                                    Cultural y Deportivo “Cotopaxi Tenis Club” tiene como objetivo el
                                                    desarrollo deportivo, social y cultural de sus socios y de la
                                                    comunidad en general. Para su cumplimiento.
                                                <div style="padding-left:5%">
                                                    <ol TYPE=a>
                                                        <li> Implementar programas y actividades orientadas a la
                                                            superación deportiva, cultural y social de sus socios así
                                                            también, establecer los lazos de unión y solidaridad con
                                                            elementos e instituciones afines con el Club y sus
                                                            objetivos.
                                                        </li>
                                                        <li> Fomentar las prácticas del Deporte en sus múltiples
                                                            manifestaciones, procurando la creación de escuelas de
                                                            formación y perfeccionamiento; así como, organizar y
                                                            participar en eventos y competencias a nivel institucional,
                                                            provincial, nacional e internacional.
                                                        </li>
                                                        <li> Promover actividades recreacionales orientadas a crear un
                                                            ambiente de armonía y bienestar entre sus socios
                                                        </li>
                                                        <li> Establecer asociaciones, suscribir convenios, dar en
                                                            arrendamiento, concesionar áreas o servicios que contribuyan
                                                            y permitan su desarrollo y el cumplimiento de sus
                                                            obligaciones institucionales, y celebrar toda clase de actos
                                                            y contratos que le faculte la Ley.
                                                        </li>
                                                        <li> Desarrollar programas y actividades que permitan al Club
                                                            dar cumplimiento a la misión de servicio a sus socios y a la
                                                            colectividad.
                                                        </li>
                                                    </ol>
                                                </div>
                                                <strong>Art.5.-</strong> Constituyen fuentes de ingreso del Club las
                                                siguientes:
                                                <div style="padding-left:5%">
                                                    <ol TYPE=a>
                                                        <li> Las cuotas por adquisición y/o transferencia de membrecías;
                                                            cuotas ordinarias y extraordinarias que pagan los socios así
                                                            como los aportes patrimoniales
                                                        </li>
                                                        <li> Los ingresos generados por las actividades y eventos
                                                            desarrollados por el Club para el cumplimiento de sus fines
                                                            específicos.
                                                        </li>
                                                        <li> Los ingresos generados por alquiler o concesiones por uso
                                                            de los servicios e instalaciones a sus socios o a terceros.
                                                        </li>
                                                        <li> Las provenientes de donaciones, legados y auspicios.</li>
                                                    </ol>
                                                </div>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="sc_accordion_item odd">
                                            <h5 class="sc_accordion_title">
                                                <span class="sc_accordion_icon sc_accordion_icon_closed icon-plus"></span>
                                                <span class="sc_accordion_icon sc_accordion_icon_opened icon-minus"></span>
                                                CAPÍTULO TERCERO DE LOS SOCIOS
                                            </h5>
                                            <div class="sc_accordion_content">
                                                <p style="text-align: justify;"><strong>ART.6.-</strong> Son socios del
                                                    "Club", los fundadores, los socios actuales y los que en lo
                                                    posterior se incorporen. En éste Estatuto la palabra “Socio” engloba
                                                    al género masculino y femenino.<br>
                                                    <strong>ART.7.-</strong> Clases de Socios.- Los socios del Club son:
                                                    Activos, Vitalicios, Dependientes, Juveniles, Honorarios,
                                                    Correspondientes, Transeúntes, Ausentes y Usufructuarios.
                                                    <strong>ART.8.-</strong> <strong> Socios Activos.-</strong> Son las
                                                    personas naturales que poseen un Certificado de Membrecía, y
                                                    aparecen como titulares de la misma en el Libro de Registro de
                                                    Socios.<br>
                                                    <strong>ART.9.-</strong> <strong>Socios Vitalicios.-</strong> Serán
                                                    los Socios Activos que hayan mantenido esta calidad durante 40 años
                                                    o más no necesariamente consecutivos, tengan al menos 65 años de
                                                    edad, y transfieran su membrecía. Una vez cumplidas éstas 3
                                                    condiciones, el socio queda exonerado del pago de cuotas ordinarias
                                                    y extraordinarias.<br>
                                                    El número de socios vitalicios no será considerado en la
                                                    determinación del número máximo de socios activos.<br>

                                                    <strong>ART.10.-</strong> <strong>Socios Dependientes.-</strong> Son
                                                    el o la cónyuge del titular y sus hijos solteros menores de 23 años
                                                    de edad; además los hijos con “capacidades diferenciadas”,
                                                    independientemente de su edad, según lo que establezca la Ley y el
                                                    Reglamento Interno.<br>
                                                    <strong>ART.11.-</strong> <strong>Socio Juvenil.-</strong> Son los
                                                    socios dependientes hijos, que hayan adquirido su membrecía
                                                    cumpliendo con los requisitos que establezca para el efecto el
                                                    Reglamento Interno. La calidad de socio juvenil tiene vigencia hasta
                                                    que cumpla los 23 años de edad (o cambie su estado civil de soltero
                                                    antes de los 23 años), debiendo entonces cambiar su condición a
                                                    socio activo sujetándose a las disposiciones estatutarias y
                                                    reglamentarias. Adicional, el Directorio podrá admitir como socio
                                                    Juvenil al menor de 18 años, que no fuere hijo de socio, pero que
                                                    estuviere vinculado, social o deportivamente a la institución y a
                                                    sus asociados, y que haya demostrado buena conducta y educación en
                                                    su vida de relación. El Socio Juvenil está exonerado del pago de la
                                                    cuota ordinaria y extraordinaria<br>
                                                    <strong>ART.12.-</strong><strong> Socio Honorario.-</strong> Son
                                                    aquellos que designe la Asamblea a petición del Directorio por sus
                                                    relevantes servicios prestados a la institución. El socio honorario
                                                    estará exonerado del pago de las cuotas ordinarias y extraordinarias
                                                    por el lapso que la Asamblea defina, máximo 5 años.<br>
                                                    <strong>ART.13.-</strong><strong> Socio Correspondiente.-</strong>
                                                    Son los socios de otros clubes, con los cuales el "Club" haya
                                                    celebrado convenios de corresponsalía, acorde a lo que disponga el
                                                    Reglamento Interno. El Club, podrá suscribir convenios de canje o
                                                    correspondencia, con aquellos clubes con servicios y objetivos
                                                    similares a los que presta el Cotopaxi Tenis Club.<br>
                                                    <strong>ART.14.-</strong><strong> Socio Transeúnte .-</strong> Son
                                                    aquellas personas naturales que manifiesten su voluntad de ingresar
                                                    temporalmente al Club por el tiempo de 1 año y que, cumpliendo las
                                                    condiciones establecidas por el Estatuto y Reglamento Interno,
                                                    fueren calificadas favorablemente como tales por el Directorio. La
                                                    membresía temporal es renovable por una vez y por igual período. En
                                                    este caso deberá pagar una cuota de ingreso equivalente a 10% del
                                                    valor nominal de la membrecía y la cuota ordinaria corresponderá al
                                                    20% del salario básico unificado.<br>
                                                    <strong>ART.15.-</strong> El Club otorgará a cada socio activo, un
                                                    certificado de membrecía a la cancelación de su valor. Los
                                                    certificados de membrecía son personales y podrán ser transferidos
                                                    únicamente a través del Club conforme al Reglamento Interno; por
                                                    consiguiente, no hay libre transferencia de certificados. El Club se
                                                    reserva el derecho de calificar la idoneidad del adquiriente de
                                                    membrecía para su ingreso como nuevo socio.<br>
                                                    Cuando se realice la transferencia de una membrecía a un nuevo
                                                    socio, el socio cedente cancelará a favor del Club, 20% del valor
                                                    nominal vigente de la membrecía, debiendo el Socio que transfiere
                                                    estar al día en todas sus obligaciones con el Club, así como cubrir
                                                    cualquier valor que se haya generado por la gestión de cobranza.<br>
                                                    El titular de una membrecía podrá transferir a su cónyuge o hijos
                                                    sin costo, cumpliendo el reglamento y previa aprobación del
                                                    beneficiario por parte del Directorio.<br>
                                                    <strong>ART.16.-</strong> El Directorio establecerá y fijará el
                                                    valor nominal de la Membrecía, el mismo que no podrá ser inferior al
                                                    ya establecido a la fecha. El Directorio podrá promocionar la venta
                                                    de membrecías hasta un valor no menor al 50% del valor nominal de la
                                                    membrecía, y deberá determinar un número máximo de membrecías
                                                    promocionales, las mismas que no podrán ser transferidas en un plazo
                                                    de 3 años.<br>
                                                    <strong>ART.17.-</strong> En caso de ausencia temporal por causa
                                                    debidamente justificada y aprobada por el Directorio, el socio
                                                    activo podrá solicitar al Directorio, ceder sus derechos de
                                                    utilización de las instalaciones a un tercer beneficiario que deberá
                                                    ser familiar hasta el 2do grado de afinidad y 3ro de consanguinidad
                                                    al cual se le denominará usufructuario temporal, que deberá ser
                                                    debidamente calificado y aprobado por el Directorio, y tendrá las
                                                    mismas obligaciones del titular. La temporalidad no podrá ser por
                                                    más de 3 años, calendario, y el socio activo pierde toda clase de
                                                    derechos con su Club más no la titularidad de la membrecía, conforme
                                                    el Reglamento Interno.<br>
                                                    <strong>ART.18.-</strong> Los documentos que demuestran la calidad
                                                    de Socio son: el certificado de membrecía, el carné y la inscripción
                                                    en el registro de membrecías, en el cual se deberá levantar un acta
                                                    suscrita por el Presidente, el Secretario y el Socio que se
                                                    incorpora. Para el caso de que uno de los socios dejare de serlo por
                                                    cualquiera de las causales establecidas en este Estatuto, se
                                                    levantará un acta suscrita por el Presidente y el Secretario.<br>
                                                    <strong>ART 19.-</strong> En caso de Divorcio, el Titular de la
                                                    membrecía tiene la obligación de comunicar al Club su nuevo estado
                                                    civil, y el Titular decidirá si permanece con la titularidad de la
                                                    membrecía o la transfiere a su ex-cónyuge. En caso de que el Titular
                                                    de la membrecía contraiga matrimonio, deberá notificar y actualizar
                                                    datos, el Directorio deberá calificar la nueva situación, de no
                                                    existir objeción, mantiene la calidad de socio.<br>
                                                    <strong>ART 20.-</strong> En caso de Viudez, el cónyuge
                                                    sobreviviente, pasa a ser el nuevo titular de esa membrecía, y en su
                                                    ausencia, el hijo socio dependiente, que el tutor determine. En caso
                                                    de falta de determinación de tutor, el hijo socio dependiente mayor,
                                                    sin que sus hermanos pierdan la calidad de socio dependiente. Si el
                                                    cónyuge sobreviviente contrae matrimonio, deberá notificar y
                                                    actualizar datos, el Directorio deberá calificar la nueva situación,
                                                    de no existir objeción, mantiene la calidad de socio.<br>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Shortcode: Accordion -->

                    </section>
                </article>
            </div>
            <!-- /Content -->
        </div>
    </div>
    <!-- /Page Content Wrap -->
    <!-- Footer -->
{% endblock %}