{% extends 'layout.html' %}
{% load staticfiles %}
{% block contenido %}
                <!-- /Header mobile -->
                <!-- Page Content Wrap -->
                <div class="top_panel_title top_panel_style_8 title_present breadcrumbs_present scheme_original">
                    <div class="top_panel_title_inner top_panel_inner_style_8">
                        <div class="content_wrap">
                            <h1 class="page_title">ORGANIZACION DE EVENTOS</h1>
                            <div class="breadcrumbs">
                                <a class="breadcrumbs_item home" href="index.html">INICIO</a>
                                <span class="breadcrumbs_delimiter"></span>
                                <span class="breadcrumbs_item current">ORGANIZACION DE EVENTOS</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page_content_wrap page_paddings_no">
                    <!-- Content -->
                    <div class="content">
                        <article class="post_item post_item_single page">
                            <section class="post_content">
                                <!-- Greeting section-->
                                <div class="sc_section greeting_section margin_top_huge margin_bottom_huge padding_top_null_imp padding_bottom_null_imp">
                                    <div style="background-image: url({% static './img/fiestas.jpg' %})" class="content_wrap greeting_section_bg">
                                        <div class="sc_section_inner">
                                            <div class="sc_section_overlay">
                                                <div class="sc_section_content padding_on">
                                                    <div class="sc_section_content_wrap">
                                                        <div class="columns_wrap sc_columns columns_nofluid no_margins sc_columns_count_2">
                                                            <!-- Welcome section column -->
                                                            <div class="column-1_2 sc_column_item sc_column_item_1 odd first"></div><!-- /Greeting section column --><!-- Greeting section column --><div class="column-1_2 sc_column_item sc_column_item_2 custom_shadow1 text_align_center even">
                                                                <div class="sc_column_item_inner template_dark_bg">
                                                                    <h2 class="sc_title sc_title_regular margin_bottom_null inverse_text">EVENTOS</h2>
                                                                    <h6 class="sc_title sc_title_regular sc_align_center custom_subtitle template_accent_2 margin_top_null margin_bottom_medium text_align_center">COTPAXI TENIS CLUB</h6>
                                                                    <div class="margin_top_tiny- margin_bottom_15_imp padding_left_8_per_imp padding_right_8_per_imp">
                                                                        <p style="text-align: justify;" class="text_light">
                                                                             Como parte de los servicios que ofrece el Cotopaxi Tenis Club a sus socios y particulares, está la organización de eventos sociales tales como:
                                                                        </p>
                                                                        <ul class="sc_list sc_list_style_iconed margin_top_null margin_bottom_tiny-">
                                                                            <li style="text-align: left;" class="text_light">
                                                                                <span class="sc_list_icon icon-check93"></span>Matrimonios
                                                                            </li>
                                                                            <li style="text-align: left;" class="text_light">
                                                                                <span class="sc_list_icon icon-check93"></span>Fiestas de Graduacion</li>
                                                                            <li style="text-align: left;" class="text_light">
                                                                                <span class="sc_list_icon icon-check93"></span>Bautizos
                                                                            </li>
                                                                            <li style="text-align: left;" class="text_light">
                                                                                <span class="sc_list_icon icon-check93"></span>Cumpleaños
                                                                            </li>
                                                                            <li style="text-align: left;" class="text_light">
                                                                                <span class="sc_list_icon icon-check93"></span>Conferencias y Seminarios
                                                                            </li>
                                                                        </ul>
                                                                    </div>

                                                                </div><!-- /Greeting section column -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Greeting section-->
                                <!-- Field Review Section-->
                                <div class="sc_content custom_slider_1 alter_light_bg">
                                    <div class="content_wrap">
                                        <div class="columns_wrap sc_columns columns_nofluid sc_columns_count_2">
                                            <!-- Features -->
                                            <div class="column-1_2 sc_column_item sc_column_item_1 odd first">
                                                <h2 style="font-size: 35px;" class="sc_title sc_title_regular margin_top_huge margin_bottom_null">Servicios</h2>
                                                <div class=" margin_bottom_25_imp padding_right_5_per_imp">
                                                    <ul class="sc_list sc_list_style_iconed margin_top_null margin_bottom_tiny-">
                                                    <li class="sc_list_item odd first" title="No daily water usage">
                                                        <span class="sc_list_icon icon-check93"></span>Caterin
                                                    </li>
                                                    <li class="sc_list_item even">
                                                        <span class="sc_list_icon icon-check93"></span>Recepción</li>
                                                    <li class="sc_list_item odd">
                                                        <span class="sc_list_icon icon-check93"></span>3 Montaje de espacios para ceremonias religiosa
                                                    </li>
                                                    <li class="sc_list_item even">
                                                        <span class="sc_list_icon icon-check93"></span>Maestros de ceremonia
                                                    </li>
                                                    <li class="sc_list_item even">
                                                        <span class="sc_list_icon icon-check93"></span>Elaboración y ejecución de protocolo
                                                    </li>
                                                    <li class="sc_list_item even">
                                                        <span class="sc_list_icon icon-check93"></span>Servicios de seguridad
                                                    </li>
                                                </ul>
                                                </div>
                                                <h2 style="font-size: 35px;" class="sc_title sc_title_regular margin_bottom_null">Horarios</h2>
                                                <p class="font_size_0_875em">Todos los eventos que se lleven a cabo dentro de los Salones del Club no deben exceder las 6 horas.
                                                </p>
                                                <h2 style="font-size: 35px;" class="sc_title sc_title_regular margin_bottom_null">Importancia</h2>
                                                <div class="text_uppercase margin_bottom_25_imp padding_right_5_per_imp">
                                                    <p class="font_size_0_875em">Para el arriendo de las áreas y salones que ofrece el Club  y  la contratación de los servicios adicionales, los interesados deben entregar como garantía un Boucher de la tarjeta DINER´S CLUB o VISA BANCO DEL PICHINCHA.
                                                    Proformas personalizadas
                                                    </p>
                                                </div>
                                            </div><!-- /Features --><!-- Slider --><div class="column-1_2 sc_column_item sc_column_item_2 even text_align_center">
                                                <div class="sc_column_item_inner field_review_slider_pattern">
                                                    <div id="sc_slider_1" class="sc_slider sc_slider_swiper swiper-slider-container sc_slider_height_fixed sc_slider_nocontrols sc_slider_pagination sc_slider_bg width_100per border_none_imp" data-old-height="500px" data-interval="8974">
                                                        <div class="slides swiper-wrapper">
                                                            <div style="background-image: url({% static './img/fiesta.jpg' %});" class="swiper-slide field_review_slider_slide1" data-style="width:100%;height:500px;"></div>
                                                            <div style="background-image: url({% static './img/fiesta1.jpg' %});" class="swiper-slide field_review_slider_slide2" data-style="width:100%;height:500px;"></div>
                                                            <div style="background-image: url({% static './img/fiesta2.jpg' %});" class="swiper-slide field_review_slider_slide3" data-style="width:100%;height:500px;"></div>
                                                            <div style="background-image: url({% static './img/fiesta3.jpg' %});" class="swiper-slide field_review_slider_slide4" data-style="width:100%;height:500px;"></div>
                                                        </div>
                                                        <div class="sc_slider_pagination_wrap"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /Slider -->
                                        </div>
                                    </div>
                                </div>
                                <!-- /Field Review Section-->
                                <div class="sc_line sc_line_position_center_center sc_line_style_solid margin_top_huge margin_bottom_large"></div>

                                <div style=" padding-left:10%;padding-right: 10%; ">
                                                        <div class="sc_table width_100_per">


                                                            <div id="sc_team_3_wrap" class="sc_team_wrap">
                                                    <div id="sc_team_3" class="sc_team sc_team_style_team-4 width_100_per">
                                                        <h2 class="sc_team_title sc_item_title">ÁREAS</h2>
                                                        <div class="sc_columns columns_wrap">
                                                            <!-- Team Item -->
                                                            <div class="column-1_4 column_padding_bottom">
                                                                <div id="sc_team_3_1" class="sc_team_item sc_team_item_1 odd first">
                                                                    <div class="sc_team_item_avatar">
                                                                        <img alt="" src="{% static 'img/servicios/salongrande.jpg' %}">
                                                                        <div class="sc_team_item_hover">
                                                                            <div class="sc_team_item_info">
                                                                                <h5 class="sc_team_item_title">
                                                                                    <a style="font-size: 24px">SALON GRANDE</a>
                                                                                </h5>
                                                                                <div class="sc_team_item_position"></div>
                                                                                <div class="sc_team_item_description">
                                                                                    <p class="sc_team_item_position">PARTICULARES</p>
                                                                                    <div>
                                                                                    <span class="
                                                                                    sc_price_money">$</span>
                                                                                    <span class="sc_price_money">672</span></div>

                                                                                </div>
                                                                                <div class="sc_team_item_socials">
                                                                                    <div class="sc_team_item_description">
                                                                                        <p class="sc_team_item_position">SOCIOS</p>
                                                                                    <div>
                                                                                        <span class="
                                                                                        sc_price_money">$</span>
                                                                                        <span class="sc_price_money">336</span>
                                                                                    </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div><!-- /Team Item --><!-- Team Item -->
                                                            <!-- Team Item -->
                                                            <div class="column-1_4 column_padding_bottom">
                                                                <div id="sc_team_3_1" class="sc_team_item sc_team_item_1 odd first">
                                                                    <div class="sc_team_item_avatar">
                                                                        <img alt="" src="{% static 'img/servicios/salonpequeno.jpg' %}">
                                                                        <div class="sc_team_item_hover">
                                                                            <div class="sc_team_item_info">
                                                                                <h5 class="sc_team_item_title">
                                                                                    <a style="font-size: 24px">SALON PEQUEÑO</a>
                                                                                </h5>
                                                                                <div class="sc_team_item_position"></div>
                                                                                <div class="sc_team_item_description">
                                                                                    <p class="sc_team_item_position">PARTICULARES</p>
                                                                                    <div>
                                                                                    <span class="
                                                                                    sc_price_money">$</span>
                                                                                    <span class="sc_price_money">448</span></div>

                                                                                </div>
                                                                                <div class="sc_team_item_socials">
                                                                                    <div class="sc_team_item_description">
                                                                                        <p class="sc_team_item_position">SOCIOS</p>
                                                                                    <div>
                                                                                        <span class="
                                                                                        sc_price_money">$</span>
                                                                                        <span class="sc_price_money">224</span>
                                                                                    </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div><!-- /Team Item --><!-- Team Item -->
                                                            <!-- Team Item -->
                                                            <div class="column-1_4 column_padding_bottom">
                                                                <div id="sc_team_3_1" class="sc_team_item sc_team_item_1 odd first">
                                                                    <div class="sc_team_item_avatar">
                                                                        <img alt="" src="{% static 'img/servicios/areasverdes.jpg' %}">
                                                                        <div class="sc_team_item_hover">
                                                                            <div class="sc_team_item_info">
                                                                                <h5 class="sc_team_item_title">
                                                                                    <a style="font-size: 24px">AREAS VERDES</a>
                                                                                </h5>
                                                                                <div class="sc_team_item_position"></div>
                                                                                <div class="sc_team_item_description">
                                                                                    <p class="sc_team_item_position">PARTICULARES</p>
                                                                                    <div>
                                                                                    <span class="
                                                                                    sc_price_money">$</span>
                                                                                    <span class="sc_price_money">235.20</span></div>

                                                                                </div>
                                                                                <div class="sc_team_item_socials">
                                                                                    <div class="sc_team_item_description">
                                                                                        <p class="sc_team_item_position">SOCIOS</p>
                                                                                    <div>
                                                                                        <span class="
                                                                                        sc_price_money">$</span>
                                                                                        <span class="sc_price_money">117.60</span>
                                                                                    </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div><!-- /Team Item --><!-- Team Item -->
                                                            <!-- Team Item -->
                                                            <div class="column-1_4 column_padding_bottom">
                                                                <div id="sc_team_3_1" class="sc_team_item sc_team_item_1 odd first">
                                                                    <div class="sc_team_item_avatar">
                                                                        <img alt="" src="{% static 'img/servicios/tentadero.jpg' %}">
                                                                        <div class="sc_team_item_hover">
                                                                            <div class="sc_team_item_info">
                                                                                <h5 class="sc_team_item_title">
                                                                                    <a style="font-size: 24px">TENTADERO</a>
                                                                                </h5>
                                                                                <div class="sc_team_item_position"></div>
                                                                                <div class="sc_team_item_description">
                                                                                    <p class="sc_team_item_position">PARTICULARES</p>
                                                                                    <div>
                                                                                    <span class="
                                                                                    sc_price_money">$</span>
                                                                                    <span class="sc_price_money">396.48</span></div>

                                                                                </div>
                                                                                <div class="sc_team_item_socials">
                                                                                    <div class="sc_team_item_description">
                                                                                        <p class="sc_team_item_position">SOCIOS</p>
                                                                                    <div>
                                                                                        <span class="
                                                                                        sc_price_money">$</span>
                                                                                        <span class="sc_price_money">198.24</span>
                                                                                    </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div><!-- /Team Item --><!-- Team Item -->

                                                        </div>
                                                    </div>
                                                </div>
                                                        </div>
                                                    </div>
                                <div class="sc_line sc_line_position_center_center sc_line_style_solid margin_top_huge margin_bottom_large"></div>

                                <div id="zonas">
                                    <div id="sc_team_3" class="sc_team sc_team_style_team-4 width_100_per">
                                                        <h2 class="sc_team_title sc_item_title">ZONAS</h2>
                                                    </div>
                                                        <div class="sc_table width_100_per">
                                                            <table>
                                                                <tbody>
                                                                <tr>
                                                                    <th>ZONA</th>
                                                                    <th>AFORO</th>
                                                                    <th>CANTIDAD</th>
                                                                    <th>TIPO DE ESTAPCIO</th>
                                                                    <th>TIPO DE USO</th>
                                                                    <th style="width: 12%">DIRIGIDO A</th>
                                                                    <th>TIPO DE EVENTOS</th>
                                                                </tr>
                                                                <tr class="text_align_center">
                                                                    <td>Salón Grande</td>
                                                                    <td>250</td>
                                                                    <td>1</td>
                                                                    <td>Cerrado</td>
                                                                    <td>Arriendo</td>
                                                                    <td>Socios/Particulares</td>
                                                                    <td>Eventos Sociales</td>
                                                                </tr>
                                                                <tr class="text_align_center">
                                                                    <td>Salón Pequeño</td>
                                                                    <td>80</td>
                                                                    <td>1</td>
                                                                    <td>Cerrado</td>
                                                                    <td>Arriendo</td>
                                                                    <td>Socios/Particulares</td>
                                                                    <td>Para particulares con autorización de comisión administrativa para eventos: conferencias, talleres, charlas y almuerzos</td>
                                                                </tr>
                                                                <tr class="text_align_center">
                                                                    <td>Tentadero</td>
                                                                    <td>900</td>
                                                                    <td>1</td>
                                                                    <td>Semi-cerrado</td>
                                                                    <td>Arriendo</td>
                                                                    <td>Socios/Particulares</td>
                                                                    <td>Corridas de toros</td>
                                                                </tr>
                                                                <tr class="text_align_center">
                                                                    <td>Áreas Verdes (2 canchas de fútbol, 1 de básquet, 1 de vóley y juegos infantiles)</td>
                                                                    <td>300</td>
                                                                    <td>1</td>
                                                                    <td>Abierto</td>
                                                                    <td>Arriendo</td>
                                                                    <td>Socios/Particulares</td>
                                                                    <td>Eventos deportivos</td>
                                                                </tr>
                                                                <tr class="text_align_center">
                                                                    <td>Canchas de Tenis de arcilla</td>
                                                                    <td></td>
                                                                    <td>4</td>
                                                                    <td>Abierto</td>
                                                                    <td>Juego y torneos</td>
                                                                    <td>Socios</td>
                                                                    <td></td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                            <div id="zonas1" class="sc_line sc_line_position_center_center sc_line_style_solid margin_top_huge margin_bottom_large"></div>
                            </section>
                        </article>
                    </div>
                    <!-- /Content -->
                <!-- /Page Content Wrap -->
                {% endblock %}