<!DOCTYPE html>
<html lang="en-US" class="scheme_original">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">

    <title>Cotopaxi | Tenis Club</title>

    <link rel="stylesheet" href="js/vendor/revslider/css/settings.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="css/rev-slider.min.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="css/responsivetable.css" type="text/css"/>

    <link rel="stylesheet" href="css/woocommerce/woocommerce-layout.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="css/woocommerce/woocommerce-smallscreen.css" type="text/css"
          media="only screen and (max-width: 768px)"/>
    <link rel="stylesheet" href="css/woocommerce/woocommerce.css" type="text/css" media="all"/>

    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="css/fontello/css/fontello.css" type="text/css" media="all"/>

    <link rel="stylesheet" href="css/style.min.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="css/core.animation.min.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="css/shortcodes.min.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="css/plugin.woocommerce.min.css" type="text/css" media="all"/>

    <link rel="stylesheet" href="css/skin.min.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="css/responsive.min.css" type="text/css" media="all"/>

    <link rel="stylesheet" href="css/core.messages.min.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="js/vendor/magnific/magnific-popup.min.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="css/core.portfolio.min.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="js/vendor/swiper/swiper.min.css" type="text/css" media="all"/>

    <link rel="icon" href="img/superior.png"/>
</head>

<body class="home page body_style_wide body_filled article_style_stretch scheme_original top_panel_show top_panel_above sidebar_hide page_side_margins_on">
<!-- Body Wrap -->
<div class="body_wrap">
    <!-- Page Wrap -->
    <div class="page_wrap">
        <!-- Header -->
        <div class="top_panel_fixed_wrap"></div>
        <header class="top_panel_wrap top_panel_style_8 scheme_original">
            <div class="top_panel_wrap_inner top_panel_inner_style_8 top_panel_position_above">
                <div class="top_panel_middle">
                    <div class="content_wrap_1">
                        <!-- Logo area -->
                        <div class="contact_logo">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="img/logo.png" class="logo_main" alt="">
                                    <img src="img/logo.png" class="logo_fixed" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- Logo area -->
                        <div class="top_panel_buttons">
                            <!-- Search -->
                            <div class="sc_socials sc_socials_type_icons sc_socials_shape_square sc_socials_size_tiny">
                                <div class="sc_socials_item">
                                    <a href="#" target="_blank" class="social_icons social_facebook">
                                        <span class="icon-facebook"></span>
                                    </a>
                                </div>
                                <div class="sc_socials_item">
                                    <a href="#" target="_blank" class="social_icons social_instagramm">
                                        <span class="icon-instagramm"></span>
                                    </a>
                                </div>
                            </div>
                            <!-- /Search -->
                            <!-- Shopping Cart -->

                            <!-- /Shopping Cart -->
                        </div>
                        <div class="menu_pushy_wrap clearfix">
                            <a href="#" class="menu_pushy_button icon-three">MENU</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- /Header -->
        <!-- Pushy menu -->
        <nav class="menu_pushy_nav_area pushy pushy-left">
            <div class="pushy_inner">
                <a href="#" class="close-pushy"></a>
                <ul id="menu_pushy" class="menu_pushy_nav">
                    <!-- Menu Item: Home -->
                    <li class="menu-item current-menu-ancestor current-menu-parent">
                        <a href="index.html">INICIO</a>
                    </li>
                    <!-- /Menu Item: Home -->
                    <!-- Menu Item: Features -->
                    <li class="menu-item menu-item-has-children">
                        <a href="#">EL CLUB</a>
                        <ul class="sub-menu">
                            <li class="menu-item">
                                <a href="historia.html">HISTORIA</a>
                            </li>
                            <li class="menu-item">
                                <a href="directorio.html">DIRECTORIO</a>
                            </li>
                            <li class="menu-item menu-item-has-children">
                                <a href="#">GALERIA</a>
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="presidentes.html">PRESIDENTES</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="reinas.html">REINAS</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="estatutos.html">ESTATUTOS</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <a href="#">CIRCULAR</a>

                            </li>
                        </ul>
                    </li>
                    <!-- /Menu Item: Features -->
                    <!-- Menu Item: About -->
                    <li class="menu-item menu-item-has-children">
                        <a href="#">ACTIVIDADES</a>
                        <ul class="sub-menu">
                            <li class="menu-item">
                                <a href="tenis.html">ESCUELA DE TENIS</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">TORNEOS</a>

                            </li>

                            <li class="menu-item">
                                <a href="eventos.html">ORGANIZACION DE EVENTOS</a>
                            </li>

                        </ul>
                    </li>
                    <!-- /Menu Item: About -->
                    <!-- Menu Item: Events -->
                    <li class="menu-item">
                        <a href="#">NOVEDADES</a>

                    </li>
                    <!-- /Menu Item: Events -->
                    <li class="menu-item">
                        <a href="contacto.html">CONTACTO</a>
                    </li>
                </ul>
                <!-- Contact Info -->
                <div class="contact_info">
                    <address class="contact_address">
                        <span>DIRECCIÓN:</span>
                        Panamericana norte
                    </address>
                    <address class="contact_phones">
                        <span>TELÉFONO:</span>
                        032262086 / 0995915350,
                    </address>
                    <address class="contact_email">
                        <span>EMAIL:</span>
                        cotopaxitenisclub@gmail.com
                    </address>
                </div>
                <!-- /Contact Info -->
                <!-- Socials -->
                <div class="contact_socials">
                    <div class="sc_socials sc_socials_type_icons sc_socials_shape_square sc_socials_size_tiny">
                        <div class="sc_socials_item">
                            <a href="https://www.facebook.com/CotopaxiTenisClub/" target="_blank"
                               class="social_icons social_facebook">
                                <span class="icon-facebook"></span>
                            </a>
                        </div>
                        <div class="sc_socials_item">
                            <a href="https://www.instagram.com/cotopaxi_tenis_club/" target="_blank"
                               class="social_icons social_twitter">
                                <span class="icon-instagramm"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /Socials -->
            </div>
        </nav>
        <!-- /Pushy menu -->
        <!-- Site Overlay -->
        <div class="site-overlay"></div>
        <!-- Header mobile -->
        <div class="header_mobile ">
            <div class="content_wrap">
                <div class="menu_button icon-menu">Menu</div>
                <!-- Logo area -->
                <div class="logo">
                    <a href="index.html">
                        <img src="img/logo.png" class="logo_main" alt="">
                    </a>
                </div>
                <!-- /Logo area -->
                <!-- Shopping cart -->
                <div class="menu_main_cart top_panel_icon">
                    <div class="sc_socials_item">
                        <a href="#" target="_blank" class="social_icons social_facebook">
                            <span style="padding:0.9%" class="icon-facebook"></span>
                            <span style="padding:0.9%" class="icon-instagramm"></span>
                        </a>
                    </div>
                </div>
                <!-- /Shopping cart -->
            </div>
            <!-- Side Wrap -->
            <div class="side_wrap">
                <div class="close">Close</div>
                <div class="panel_top">
                    <nav class="menu_main_nav_area">
                        <ul id="menu_main_mobile" class="menu_main_nav">
                            <!-- Menu Item: Home -->
                            <li class="menu-item current-menu-ancestor current-menu-parent">
                                <a href="index.html">INICIO</a>
                            </li>
                            <!-- /Menu Item: Home -->
                            <!-- Menu Item: Features -->
                            <li class="menu-item menu-item-has-children">
                                <a href="#">EL CLUB</a>
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="historia.html">HISTORIA</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="directorio.html">DIRECTORIO</a>
                                    </li>
                                    <li class="menu-item menu-item-has-children">
                                        <a href="#">GALERIA</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item">
                                                <a href="presidentes.html">PRESIDENTES</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="reinas.html">REINAS</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="estatutos.html">ESTATUTOS</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-has-children">
                                        <a href="#">CIRCULAR</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item">
                                                <a href="#">INFORMACIÓN GENERAL</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="#">BOLETINES</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="#">ENCUESTAS</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <!-- /Menu Item: Features -->
                            <!-- Menu Item: About -->
                            <li class="menu-item menu-item-has-children">
                                <a href="#">ACTIVIDADES</a>
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="tenis.html">ESCUELA DE TENIS</a>
                                    </li>
                                    <li class="menu-item menu-item-has-children">
                                        <a href="#">TORNEOS</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item">
                                                <a href="#">RANKING </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="#">ASCENDER COTOPAXI</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="#">ASCENDER PUTZALAHUA</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="#">COTOPAXI OPEN</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item">
                                        <a href="taurina.html">ESCUELA TAURINA</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="eventos1.html">ESCUELA DE NATACION</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">CARTÓDROMO</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="eventos.html">ORGANIZACION DE EVENTOS</a>
                                    </li>
                                    <li class="menu-item menu-item-has-children">
                                        <a href="#">ALQUILER</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item">
                                                <a href="#">ESPACIOS VERDES </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="#">SALONES</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="#">TENTADEROS</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="#">CANCHAS</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <!-- /Menu Item: About -->
                            <!-- Menu Item: Events -->
                            <li class="menu-item menu-item-has-children">
                                <a href="events-calendar.html">NOVEDADES</a>
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="#">NOTICIAS</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">EVENTOS</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">GALERIA</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- /Menu Item: Events -->
                            <!-- Menu Item: Contacts -->
                            <li class="menu-item">
                                <a href="contacto.html">CONTACTOS</a>
                            </li>
                            <!-- /Menu Item: Contacts -->
                        </ul>
                    </nav>
                    <div class="panel_middle">
                        <div class="contact_field contact_address">
                            <span class="contact_icon icon-home"></span>
                            <span class="contact_label contact_address_1">Panamericana norte</span>
                            <span class="contact_address_2"></span>
                        </div>
                        <div class="contact_field contact_phone">
                            <span class="contact_icon icon-phone"></span>
                            <span class="contact_label contact_phone">032262086/0995915350</span>
                            <span class="contact_email">cotopaxitenisclub@gmail.com</span>
                        </div>
                    </div>
                    <!-- /Contact info -->
                    <!-- Socials -->
                    <div class="panel_bottom">
                        <div class="contact_socials">
                            <div class="sc_socials sc_socials_type_icons sc_socials_shape_square sc_socials_size_tiny">
                                <div class="sc_socials_item">
                                    <a href="#" target="_blank" class="social_icons social_twitter">
                                        <span class="icon-facebook"></span>
                                    </a>
                                </div>
                                <div class="sc_socials_item">
                                    <a href="#" target="_blank" class="social_icons social_facebook">
                                        <span class="icon-instagramm"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Socials -->
                </div>
            </div>
            <!-- /Side Wrap -->
            <div class="mask"></div>
        </div>
        <!-- /Header mobile -->
        <!-- Page Content Wrap -->
        <div class="top_panel_title top_panel_style_8 title_present breadcrumbs_present scheme_original">
            <div class="top_panel_title_inner top_panel_inner_style_8">
                <div class="content_wrap">
                    <h1 class="page_title">ESCUELA DE NATACIÓN</h1>
                    <div class="breadcrumbs">
                        <a class="breadcrumbs_item home" href="index.html">INICIO</a>
                        <span class="breadcrumbs_delimiter"></span>
                        <span class="breadcrumbs_item current">ESCUELA DE NATACIÓN</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="page_content_wrap page_paddings_no">
            <!-- Content -->
            <div class="content">
                <article class="post_item post_item_single page">
                    <section class="post_content">
                        <!-- Greeting section-->
                        <div class="sc_section greeting_section margin_top_huge margin_bottom_huge padding_top_null_imp padding_bottom_null_imp">
                            <div style="background-image: url(./img/slider.png)"
                                 class="content_wrap greeting_section_bg">
                                <div class="sc_section_inner">
                                    <div class="sc_section_overlay">
                                        <div class="sc_section_content padding_on">
                                            <div class="sc_section_content_wrap">
                                                <div class="columns_wrap sc_columns columns_nofluid no_margins sc_columns_count_2">
                                                    <!-- Welcome section column -->
                                                    <div class="column-1_2 sc_column_item sc_column_item_1 odd first"></div>
                                                    <!-- /Greeting section column --><!-- Greeting section column -->
                                                    <div class="column-1_2 sc_column_item sc_column_item_2 custom_shadow1 text_align_center even">
                                                        <div class="sc_column_item_inner template_dark_bg">
                                                            <h2 class="sc_title sc_title_regular margin_bottom_null inverse_text">
                                                                ESCUELA DE NATACIÓN</h2>
                                                            <h6 class="sc_title sc_title_regular sc_align_center custom_subtitle template_accent_2 margin_top_null margin_bottom_medium text_align_center">
                                                                COTPAXI TENIS CLUB</h6>
                                                            <div class="margin_top_tiny- margin_bottom_15_imp padding_left_8_per_imp padding_right_8_per_imp">
                                                                <p style="text-align: justify;" class="text_light">
                                                                    Es el que consentirá aparte del aprendizaje de la
                                                                    natación aportar a la formación completa de la
                                                                    persona desde la perspectiva motor, cognitiva y
                                                                    afectiva.
                                                                    Esmejora de la condición física y aséptica.
                                                                </p>
                                                            </div>
                                                            <figure class="sc_image sc_image_shape_square margin_top_small margin_bottom_medium">
                                                                <img src="img/s1.png" alt=""/>
                                                            </figure>
                                                        </div><!-- /Greeting section column -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Greeting section-->
                        <!-- Field Review Section-->
                        <div class="sc_content custom_slider_1 alter_light_bg">
                            <div class="content_wrap">
                                <div class="columns_wrap sc_columns columns_nofluid sc_columns_count_2">
                                    <!-- Features -->
                                    <div class="column-1_2 sc_column_item sc_column_item_1 odd first">
                                        <h2 style="font-size: 35px;"
                                            class="sc_title sc_title_regular margin_top_huge margin_bottom_null">
                                            BENEFICIOS</h2>
                                        <div class="text_uppercase margin_bottom_25_imp padding_right_5_per_imp">
                                            <ul class="sc_list sc_list_style_iconed margin_top_null margin_bottom_tiny-">
                                                <li class="sc_list_item odd first" title="No daily water usage">
                                                    <span class="sc_list_icon icon-check93"></span>Estimula la
                                                    circulación de la sangre.
                                                </li>
                                                <li class="sc_list_item even">
                                                    <span class="sc_list_icon icon-check93"></span>Contribuye con una
                                                    sorprendente firmeza cardiopulmonar.
                                                </li>
                                                <li class="sc_list_item odd">
                                                    <span class="sc_list_icon icon-check93"></span>3 Reduce el peligro
                                                    de contraer enfermedades cardiovasculares.
                                                </li>
                                                <li class="sc_list_item even">
                                                    <span class="sc_list_icon icon-check93"></span>Contribuye a mantener
                                                    una presión arterial firme.
                                                </li>
                                                <li class="sc_list_item even">
                                                    <span class="sc_list_icon icon-check93"></span>Desarrolla más de dos
                                                    tercios de los músculos de nuestro cuerpo.
                                                </li>
                                                <li class="sc_list_item even">
                                                    <span class="sc_list_icon icon-check93"></span>Prospera la postura
                                                    del cuerpo.
                                                </li>
                                            </ul>
                                        </div>
                                        <h2 style="font-size: 35px;"
                                            class="sc_title sc_title_regular margin_bottom_null">HORARIOS</h2>
                                        <p class="font_size_0_875em">Todos los eventos que se lleven a cabo dentro de
                                            los Salones del Club no deben exceder las 6 horas.
                                        </p>
                                        <h2 style="font-size: 35px;"
                                            class="sc_title sc_title_regular margin_bottom_null">IMPORTANCIA</h2>
                                        <div class="text_uppercase margin_bottom_25_imp padding_right_5_per_imp">
                                            <p class="font_size_0_875em">Para el arriendo de las áreas y salones que
                                                ofrece el Club y la contratación de los servicios adicionales, los
                                                interesados deben entregar como garantía un Boucher de la tarjeta
                                                DINER´S CLUB o VISA BANCO DEL PICHINCHA.
                                                Proformas personalizadas
                                            </p>
                                        </div>
                                    </div><!-- /Features --><!-- Slider -->
                                    <div class="column-1_2 sc_column_item sc_column_item_2 even text_align_center">
                                        <div class="sc_column_item_inner field_review_slider_pattern">
                                            <div id="sc_slider_1"
                                                 class="sc_slider sc_slider_swiper swiper-slider-container sc_slider_height_fixed sc_slider_nocontrols sc_slider_pagination sc_slider_bg width_100per border_none_imp"
                                                 data-old-height="500px" data-interval="8974">
                                                <div class="slides swiper-wrapper">
                                                    <div style="background-image: url(./img/t1.png);"
                                                         class="swiper-slide field_review_slider_slide1"
                                                         data-style="width:100%;height:500px;"></div>
                                                    <div style="background-image: url(./img/t2.png);"
                                                         class="swiper-slide field_review_slider_slide2"
                                                         data-style="width:100%;height:500px;"></div>
                                                    <div style="background-image: url(./img/t3.png);"
                                                         class="swiper-slide field_review_slider_slide3"
                                                         data-style="width:100%;height:500px;"></div>
                                                    <div style="background-image: url(./img/t4.png);"
                                                         class="swiper-slide field_review_slider_slide4"
                                                         data-style="width:100%;height:500px;"></div>
                                                </div>
                                                <div class="sc_slider_pagination_wrap"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Slider -->
                                </div>
                            </div>
                        </div>
                        <!-- /Field Review Section-->
                        <div class="sc_line sc_line_position_center_center sc_line_style_solid margin_top_huge margin_bottom_large"></div>
                    </section>
                </article>
            </div>
            <!-- /Content -->
            <!-- /Page Content Wrap -->
            <!-- Footer -->
            <footer class="footer_wrap widget_area">
                <div class="footer_wrap_inner widget_area_inner">
                    <!-- Footer Content Wrap -->
                    <div class="content_wrap">
                        <div class="columns_wrap">
                            <!-- Widget: Socials -->
                            <aside class="column-1_4 widget widget_socials">
                                <div style="text-align: center;" class="widget_inner">
                                    <div class="logo">
                                        <a href="index.html">
                                            <img src="img/footer.png" class="logo_main" alt="">
                                        </a>
                                    </div>
                                    <div class="logo_descr"><p style="text-align: justify;">Para el descanso y disfrute
                                        de nuestros servicios el club cuenta con diferetes areas para la realizacion de
                                        actividades</p></div>
                                    <div class="sc_socials sc_socials_type_icons sc_socials_shape_square sc_socials_size_tiny">
                                        <div class="sc_socials_item">
                                            <a href="#" target="_blank" class="social_icons social_twitter">
                                                <span class="icon-facebook"></span>
                                            </a>
                                        </div>
                                        <div class="sc_socials_item">
                                            <a href="#" target="_blank" class="social_icons social_facebook">
                                                <span class="icon-instagramm"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </aside><!-- /Widget: Socials --><!-- Widget: Recent Posts -->
                            <aside class="column-1_4 widget widget_recent_entries">
                                <h5 class="widget_title">ULTIMAS NOTICAS</h5>
                                <ul>
                                    <li>
                                        <a href="post-single.html">Noticia 1, texto de ejemplo</a>
                                    </li>
                                    <li>
                                        <a href="post-single.html">Noticia 2, texto de ejemplo</a>
                                    </li>
                                    <li>
                                        <a href="post-single.html">Noticia 3, texto de ejemplo</a>
                                    </li>
                                </ul>
                            </aside><!-- /Widget: Recent Posts --><!-- Widget: Text -->
                            <aside class="column-1_4 widget widget_text">
                                <h5 class="widget_title">CONTACTANOS</h5>
                                <div class="textwidget">
                                    <p>DIRECCIÓN
                                        <span class="display_block">Panamericana norte</span>
                                    </p>
                                    <p>TELÉFONO
                                        <span class="display_block">032262086/0995915350</span>
                                    </p>
                                    <p>EMAIL
                                        <span class="display_block">cotopaxitenisclub@gmail.com</span>
                                    </p>
                                </div>
                            </aside><!-- /Widget: Text --><!-- Widget: Flickr -->
                            <aside class="column-1_4 widget widget_flickr">
                                <h5 class="widget_title">NUESTRAS GALERIAS</h5>
                                <div class="flickr_images">
                                    <div class="flickr_badge_image">
                                        <a href="#">
                                            <img title="" alt="A photo on Flickr" src="./img/footer/tenis00001.jpg">
                                        </a>
                                    </div>
                                    <div class="flickr_badge_image">
                                        <a href="#">
                                            <img title="" alt="A photo on Flickr" src="./img/footer/tenis00002.jpg">
                                        </a>
                                    </div>
                                    <div class="flickr_badge_image">
                                        <a href="#">
                                            <img title="" alt="A photo on Flickr" src="./img/footer/tenis00003.jpg">
                                        </a>
                                    </div>
                                    <div class="flickr_badge_image">
                                        <a href="#">
                                            <img title="" alt="A photo on Flickr" src="./img/footer/tenis00004.jpg">
                                        </a>
                                    </div>
                                    <div class="flickr_badge_image">
                                        <a href="#">
                                            <img title="" alt="A photo on Flickr" src="./img/footer/tenis00001.jpg">
                                        </a>
                                    </div>
                                    <div class="flickr_badge_image">
                                        <a href="#">
                                            <img title="" alt="A photo on Flickr" src="./img/footer/tenis00002.jpg">
                                        </a>
                                    </div>
                                </div>
                            </aside>
                            <!-- /Widget: Flickr -->
                        </div>
                    </div>
                    <!-- /Footer Content Wrap -->
                </div>
            </footer>
            <!-- /Footer -->
            <!-- Copyright -->
            <div class="copyright_wrap copyright_style_text">
                <div class="copyright_wrap_inner">
                    <div class="content_wrap">
                        <div class="copyright_text">Axiomthemes © 2016 All Rights Reserved
                            <a href="#">Terms of use</a> and <a href="#">Privacy policy</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Copyright -->
        </div>
        <!-- /Page Wrap -->
    </div>
    <!-- /Body Wrap -->

    <a href="#" class="scroll_to_top icon-up" title="Scroll to top"></a>

    <script type="text/javascript" src="js/jquery/jquery.js"></script>

    <script type="text/javascript" src="js/_packed.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

    <script type="text/javascript" src="js/vendor/revslider/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="js/vendor/revslider/jquery.themepunch.revolution.min.js"></script>

    <script type="text/javascript" src="js/vendor/revslider/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="js/vendor/revslider/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="js/vendor/revslider/revolution.extension.navigation.min.js"></script>

    <script type="text/javascript" src="js/rev-slider1.min.js"></script>

    <script type="text/javascript" src="js/core.utils.min.js"></script>
    <script type="text/javascript" src="js/core.init.min.js"></script>
    <script type="text/javascript" src="js/template.init.min.js"></script>

    <script type="text/javascript" src="js/shortcodes.min.js"></script>
    <script type="text/javascript" src="js/core.messages.min.js"></script>

    <script type="text/javascript" src="js/vendor/magnific/jquery.magnific-popup.min.js"></script>

    <script type="text/javascript" src="js/vendor/isotope/dist/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="js/hover/jquery.hoverdir.min.js"></script>
    <script type="text/javascript" src="js/vendor/swiper/swiper.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js"></script>
    <script type="text/javascript" src="js/core.googlemap.min.js"></script>

</body>

</html>