{% extends 'layout.html' %}
{% load staticfiles %}
{% block contenido %}
    <!-- /Header mobile -->
    <!-- Page Content Wrap -->
    <div class="top_panel_title top_panel_style_8 title_present breadcrumbs_present scheme_original">
        <div class="top_panel_title_inner top_panel_inner_style_8">
            <div class="content_wrap">
                <h1 class="page_title">HISTORIA</h1>
                <div class="breadcrumbs">
                    <a class="breadcrumbs_item home" href="index.html">INICIO</a>
                    <span class="breadcrumbs_delimiter"></span>
                    <span class="breadcrumbs_item">EL CLUB</span>
                     <span class="breadcrumbs_delimiter"></span>
                    <span class="breadcrumbs_item current">HISTORIA</span>
                </div>
            </div>
        </div>
    </div>
    <div class="page_content_wrap page_paddings_yes">
        <div class="content_wrap">
            <!-- Content -->
            <div class="content">
                <article class="post_item post_item_single page">
                    <section class="post_content">
                        <!-- Image alignment section -->
                        <div class="sc_section margin_bottom_null">
                            <div class="sc_section_inner">
                                <div class="sc_section_content_wrap">
                                    <h3 class="sc_title sc_title_regular margin_top_tiny margin_bottom_medium">Cotopaxi
                                        Tenis Club</h3>

                                    <p style="text-align: justify;">Fundado en la casa del connotado deportista Alberto
                                        Hervas Enríquez un 4 de febrero de 1925, con la presencia de 12 pioneros del
                                        deporte. El primer Directorio estaba compuesto por los destacados hombres
                                        públicos José Vicente Maldonado Iturralde (Presidente), Humberto Hidalgo Pazmiño
                                        (Secretario), Camilo Gallegos Toledo (Vicepresidente) y Carlos Egas Moscoso
                                        (Tesorero).</p>
                                    <figure class="sc_image alignleft sc_image_shape_square margin_top_tiny margin_bottom_tiny width_45_per_imp">
                                        <img src="{% static 'img/ctc.jpg' %}" alt=""/>

                                    </figure>
                                    <p style="text-align: justify;">Las primeras canchas se estructuraron en la quinta
                                        "El Loreto" de don Abelardo Vásconez; a cuatro años de la fundación, los y las
                                        socias del Club adquieren un terreno para la construcción de su sede, ubicado
                                        donde actualmente se encuentra la Corte de Justicia, sede inaugurada el 11 de
                                        agosto de 1929, con la presencia del Presidente Dr. Isidro Ayora Cueva, sus
                                        Ministros, autoridades provinciales y locales.</p>
                                    <p style="text-align: justify;">El local del Club en el centro de la ciudad, fue el
                                        punto de encuentro de numerosos latacungueños, para eventos de diversa índole:
                                        deportivos, sociales, culturales e intelectuales.</p>
                                    <p style="text-align: justify;">En adelante, con la presencia de numerosas
                                        administraciones, el Club desarrolló su actividad deportiva y social hasta 1976,
                                        que pasó al local que actualmente posee, con espacios administrativos y de
                                        recreación más amplios, un tentadero, pista de karting, piscina y demás.</p>
                                    <p style="text-align: justify;">Cabe indicar que varios socios honorarios y
                                        "filántropos" apoyaron pecuniariamente al Club, resaltando a tres por el
                                        momento: Isidro Ayora Cueva, José Vicente Maldonado Iturralde y José Antonio
                                        Bueno Stacey, a quienes la institución debe tanto.</p>
                                </div>
                            </div>
                        </div>
                    </section>
                </article>
            </div>
            <!-- /Content -->
        </div>
    </div>

    <!-- /Page Content Wrap -->
{% endblock %}