{% extends 'layout.html' %}
{% load staticfiles %}
{% block contenido %}
                <!-- /Header mobile -->
                <!-- Revolution Slider -->
                <section class="slider_wrap slider_fullwide slider_engine_revo slider_alias_Golfclub-rsa1">
                    <div id="rev_slider_3_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container">
                        <!-- START REVOLUTION SLIDER 5.2.6 fullwidth mode -->
                        <div id="rev_slider_3_1" class="rev_slider fullwidthabanner" data-version="5.2.6">
                            <ul>
                                <!-- SLIDE  1 -->
                                <li data-index="rs-5" data-transition="fade,crossfade,boxfade,slotfade-horizontal,slotfade-vertical,curtain-3,3dcurtain-vertical" data-slotamount="default,default,default,default,default,default,default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default,default,default,default,default,default,default" data-easeout="default,default,default,default,default,default,default" data-masterspeed="300,default,default,default,default,default,default" data-thumb="http://placehold.it/100x50" data-rotate="0,0,0,0,0,0,0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                    <!-- MAIN IMAGE -->
                                    <img src="{% static 'img/banner/banner1.jpg' %}" alt="" title="Home 1" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                    <!-- LAYERS -->
                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption Golf1 tp-resizeme" id="slide-1-layer-4" data-x="center" data-hoffset="2" data-y="center" data-voffset="-119" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="opacity:0;s:600;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;" data-start="500" data-splitin="chars" data-splitout="none" data-responsive_offset="on" data-elementdelay="0.1">disfrutar </div>
                                    <!-- LAYER NR. 2 -->
                                    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" id="slide-1-layer-1" data-x="center" data-hoffset="-187" data-y="center" data-voffset="-182" data-width="['113']" data-height="['1']" data-visibility="['on','on','on','off']" data-transform_idle="o:1;" data-transform_in="y:top;s:1200;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;" data-start="2400" data-responsive_offset="on"></div>
                                    <!-- LAYER NR. 3 -->
                                    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" id="slide-1-layer-2" data-x="center" data-hoffset="195" data-y="center" data-voffset="-182" data-width="['113']" data-height="['1']" data-visibility="['on','on','on','off']" data-transform_idle="o:1;" data-transform_in="y:top;s:1200;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;" data-start="2400" data-responsive_offset="on"> </div>
                                    <!-- LAYER NR. 4 -->
                                    <div class="tp-caption Golf1 tp-resizeme" id="slide-1-layer-3" data-x="center" data-hoffset="5" data-y="center" data-voffset="-182" data-width="['auto']" data-height="['auto']" data-visibility="['on','on','on','off']" data-transform_idle="o:1;" data-transform_in="y:top;s:1200;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;" data-start="2400" data-splitin="none" data-splitout="none" data-responsive_offset="on">Un lugar para</div>
                                    <!-- LAYER NR. 5 -->
                                    <div class="tp-caption tp-resizeme" id="slide-1-layer-5" data-x="center" data-hoffset="-4" data-y="center" data-voffset="-30" data-width="['425']" data-height="['41']" data-visibility="['on','on','on','off']" data-transform_idle="o:1;" data-transform_in="y:50px;opacity:0;s:1200;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;" data-start="4000" data-splitin="lines" data-splitout="none" data-responsive_offset="on" data-elementdelay="0.6">Ven, vive y disfruta tu club</div>
                                    <!-- LAYER NR. 6 -->

                                </li>
                                <!-- SLIDE  2 -->
                                <li data-index="rs-6" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="http://placehold.it/100x50" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                    <!-- MAIN IMAGE -->
                                    <img src="{% static 'img/banner/banner2.jpg' %}" alt="" title="Home 1" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                    <!-- LAYERS -->
                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption Golf1 tp-resizeme" id="slide-2-layer-4" data-x="center" data-hoffset="2" data-y="center" data-voffset="-119" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="opacity:0;s:600;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;" data-start="500" data-splitin="chars" data-splitout="none" data-responsive_offset="on" data-elementdelay="0.1">nuestras instalaciones</div>
                                    <!-- LAYER NR. 2 -->
                                    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" id="slide-2-layer-1" data-x="center" data-hoffset="-187" data-y="center" data-voffset="-182" data-width="['113']" data-height="['1']" data-visibility="['on','on','on','off']" data-transform_idle="o:1;" data-transform_in="y:top;s:1200;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;" data-start="2400" data-responsive_offset="on"> </div>
                                    <!-- LAYER NR. 3 -->
                                    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" id="slide-2-layer-2" data-x="center" data-hoffset="195" data-y="center" data-voffset="-182" data-width="['113']" data-height="['1']" data-visibility="['on','on','on','off']" data-transform_idle="o:1;" data-transform_in="y:top;s:1200;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;" data-start="2400" data-responsive_offset="on"> </div>
                                    <!-- LAYER NR. 4 -->
                                    <div class="tp-caption Golf1 tp-resizeme" id="slide-2-layer-3" data-x="center" data-hoffset="" data-y="center" data-voffset="-182" data-width="['auto']" data-height="['auto']" data-visibility="['on','on','on','off']" data-transform_idle="o:1;" data-transform_in="y:top;s:1200;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;" data-start="2400" data-splitin="none" data-splitout="none" data-responsive_offset="on">Disfruta </div>
                                    <!-- LAYER NR. 5 -->
                                    <div class="tp-caption   tp-resizeme" id="slide-2-layer-5" data-x="center" data-hoffset="" data-y="center" data-voffset="-30" data-width="['570']" data-height="['45']" data-visibility="['on','on','on','off']" data-transform_idle="o:1;" data-transform_in="y:50px;opacity:0;s:1200;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;" data-start="4000" data-splitin="lines" data-splitout="none" data-responsive_offset="on" data-elementdelay="0.6">Cada instalación está diseñada para satisfacer las necesidades de nuestros socios y sus familias; entre deportes, actividades sociales, culturales, tradicionales, entre otras; brindando un ambiente único y exclusivo  </div>
                                    <!-- LAYER NR. 6 -->
                                   <!--  <div class="tp-caption rev-btn  tp-resizeme" id="slide-2-layer-6" data-x="center" data-hoffset="-97" data-y="center" data-voffset="59" data-width="['auto']" data-height="['auto']" data-visibility="['on','on','on','off']" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:0;e:Linear.easeNone;" data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(203, 93, 32, 1.00);" data-transform_in="opacity:0;s:1200;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;" data-start="5900" data-splitin="none" data-splitout="none" data-responsive_offset="on">
                                        <a href="booking.html">Book tee times</a>
                                    </div> -->
                                    <!-- LAYER NR. 7 -->
                                   <!--  <div class="tp-caption rev-btn  tp-resizeme" id="slide-2-layer-7" data-x="center" data-hoffset="85" data-y="center" data-voffset="59" data-width="['auto']" data-height="['auto']" data-visibility="['on','on','on','off']" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:0;e:Linear.easeNone;" data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(203, 93, 32, 1.00);" data-transform_in="opacity:0;s:1200;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;" data-start="6200" data-splitin="none" data-splitout="none" data-responsive_offset="on">
                                        <a href="#">learn more</a> -->
                                <!--     </div> -->
                                    <!-- LAYER NR. 8 -->
                                    <!-- <div class="tp-caption rev-btn" id="slide-2-layer-12" data-x="center" data-hoffset="" data-y="center" data-voffset="57" data-width="['auto']" data-height="['auto']" data-visibility="['off','off','off','on']" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:0;e:Linear.easeNone;" data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(203, 93, 32, 1.00);" data-transform_in="opacity:0;s:1200;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;" data-start="3600" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-responsive="off">
                                        <a href="booking.html">Book tee times</a>
                                    </div> -->
                                </li>



                                <li data-index="rs-7" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="http://placehold.it/100x50" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                    <!-- MAIN IMAGE -->
                                    <img src="{% static 'img/banner/banner3.jpg' %}" alt="" title="Home 1" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                    <!-- LAYERS -->
                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption Golf1 tp-resizeme" id="slide-2-layer-4" data-x="center" data-hoffset="2" data-y="center" data-voffset="-119" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="opacity:0;s:600;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;" data-start="500" data-splitin="chars" data-splitout="none" data-responsive_offset="on" data-elementdelay="0.1" >Zona del socio</div>
                                    <!-- LAYER NR. 2 -->
                                    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" id="slide-2-layer-1" data-x="center" data-hoffset="-187" data-y="center" data-voffset="-182" data-width="['113']" data-height="['1']" data-visibility="['on','on','on','off']" data-transform_idle="o:1;" data-transform_in="y:top;s:1200;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;" data-start="2400" data-responsive_offset="on"> </div>
                                    <!-- LAYER NR. 3 -->
                                    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" id="slide-2-layer-2" data-x="center" data-hoffset="195" data-y="center" data-voffset="-182" data-width="['113']" data-height="['1']" data-visibility="['on','on','on','off']" data-transform_idle="o:1;" data-transform_in="y:top;s:1200;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;" data-start="2400" data-responsive_offset="on"> </div>
                                    <!-- LAYER NR. 4 -->
                                   <!--  <div class="tp-caption Golf1 tp-resizeme" id="slide-2-layer-3" data-x="center" data-hoffset="" data-y="center" data-voffset="-182" data-width="['auto']" data-height="['auto']" data-visibility="['on','on','on','off']" data-transform_idle="o:1;" data-transform_in="y:top;s:1200;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;" data-start="2400" data-splitin="none" data-splitout="none" data-responsive_offset="on">Now accepting </div> -->
                                    <!-- LAYER NR. 5 -->
                                    <div class="tp-caption   tp-resizeme" id="slide-2-layer-5" data-x="center" data-hoffset="" data-y="center" data-voffset="-30" data-width="['570']" data-height="['45']" data-visibility="['on','on','on','off']" data-transform_idle="o:1;" data-transform_in="y:50px;opacity:0;s:1200;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;" data-start="4000" data-splitin="lines" data-splitout="none" data-responsive_offset="on" data-elementdelay="0.6">Visita la sección exclusiva para socios y conoce las actividades que se realiza en el club en la sección de noticias, aprovecha las promociones en nuestros servicios y vuelve a vivir los mejores momentos del club en la galería de fotos, haz tus reservas on-line y disfruta de todas las opciones que tenemos para ti.    </div>
                                    <!-- LAYER NR. 6 -->
                                   <!--  <div class="tp-caption rev-btn  tp-resizeme" id="slide-2-layer-6" data-x="center" data-hoffset="-97" data-y="center" data-voffset="59" data-width="['auto']" data-height="['auto']" data-visibility="['on','on','on','off']" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:0;e:Linear.easeNone;" data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(203, 93, 32, 1.00);" data-transform_in="opacity:0;s:1200;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;" data-start="5900" data-splitin="none" data-splitout="none" data-responsive_offset="on">
                                        <a href="booking.html">Book tee times</a>
                                    </div> -->
                                    <!-- LAYER NR. 7 -->
                                  <!--   <div class="tp-caption rev-btn  tp-resizeme" id="slide-2-layer-7" data-x="center" data-hoffset="85" data-y="center" data-voffset="59" data-width="['auto']" data-height="['auto']" data-visibility="['on','on','on','off']" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:0;e:Linear.easeNone;" data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(203, 93, 32, 1.00);" data-transform_in="opacity:0;s:1200;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;" data-start="6200" data-splitin="none" data-splitout="none" data-responsive_offset="on">
                                        <a href="#">learn more</a>
                                    </div> -->
                                    <!-- LAYER NR. 8 -->
                                    <!-- <div class="tp-caption rev-btn" id="slide-2-layer-12" data-x="center" data-hoffset="" data-y="center" data-voffset="57" data-width="['auto']" data-height="['auto']" data-visibility="['off','off','off','on']" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:0;e:Linear.easeNone;" data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(203, 93, 32, 1.00);" data-transform_in="opacity:0;s:1200;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;" data-start="3600" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-responsive="off">
                                        <a href="booking.html">Book tee times</a>
                                    </div> -->
                                </li>
                            </ul>
                            <div class="tp-bannertimer slider_1_bannertime"></div>
                        </div>
                    </div>
                    <!-- END REVOLUTION SLIDER -->
                </section>
                <!-- /Revolution Slider -->
                <!-- Page Content Wrap -->
                <div class="page_content_wrap page_paddings_no">
                    <!-- Content -->
                    <div class="content">
                        <article class="post_item post_item_single page">
                            <section class="post_content">
                                <!-- Services section -->

                                <!-- /Services section -->
                                <!-- Greeting section -->
                                <div class="sc_section greeting_section margin_top_huge margin_bottom_huge">
                                    <div class="content_wrap greeting_section_bg">
                                        <div class="sc_section_inner">
                                            <div class="sc_section_overlay">
                                                <div class="sc_section_content padding_on">
                                                    <div class="sc_section_content_wrap">
                                                        <div class="columns_wrap sc_columns columns_nofluid no_margins sc_columns_count_2">
                                                            <!-- Greeting column 1 -->
                                                            <div class="column-1_2 sc_column_item sc_column_item_1 odd first"></div><!-- /Greeting column 1 --><!-- Greeting column 2 --><div class="column-1_2 sc_column_item sc_column_item_2 custom_shadow1 text_align_center even">
                                                                <div class="sc_column_item_inner template_dark_bg">
                                                                    <h2 class="sc_title sc_title_regular margin_bottom_null inverse_text">Bienvenido</h2>
                                                                    <h6 class="sc_title sc_title_regular sc_align_center custom_subtitle template_accent_2 margin_top_null margin_bottom_medium text_align_center">Cotopaxi tenis club</h6>
                                                                    <div class="margin_top_tiny- margin_bottom_15_imp padding_left_8_per_imp padding_right_8_per_imp">
                                                                        <p class="text_light">
                                                                            Cotopaxi Tenis Club es un placer atenderlos para la organizaciones de eventos.<br>
                                                                            Ven forma parte de nuestro club y aprovecha los grandes beneficios que tienen nuestros socios.
                                                                        </p>
                                                                    </div>
                                                                    <figure class="sc_image sc_image_shape_square margin_top_small margin_bottom_medium">
                                                                        <img src="{% static 'img/tennis.jpg' %}" alt="" />
                                                                    </figure>
                                                                </div>
                                                            </div>
                                                            <!-- /Greeting column 2 -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Greeting section -->
                                <!-- Latest photo section -->



                                <div class="sc_section ecommerce_featured margin_top_null padding_bottom_80_imp aligncenter">
                                    <div class="content_wrap">
                                        <div class="sc_section_inner">
                                            <div class="sc_section_content_wrap">
                                                <h2 class="sc_title sc_title_regular margin_top_null margin_bottom_null inverse_text">Noticias</h2>
                                                <h6 class="sc_title sc_title_regular custom_subtitle template_accent_2 margin_top_null margin_bottom_medium">Actividades</h6>
                                                <div class="woocommerce columns-4">
                                                    <ul class="products">
                                                        <!-- Product item -->
                                                        <li class="product first">
                                                            <div class="post_item_wrap">
                                                                <div class="post_featured">
                                                                    <div class="post_thumb">
                                                                        <a class="hover_icon hover_icon_link" href="shop-product-page.html">
                                                                            <img src="http://placehold.it/300x300" alt="product" title="product" />
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="post_content">
                                                                    <a href="#">
                                                                        <h3>Noticia 1, titulo de ejemplo</h3>
                                                                        <span class="price">
                                                                            <span class="woocommerce-Price-amount amount">
                                                                                <span class="woocommerce-Price-currencySymbol"></span>Ver más
                                                                            </span>
                                                                        </span>
                                                                    </a>

                                                                </div>
                                                            </div>
                                                        </li>
                                                        <!-- /Product item -->
                                                        <!-- Product item -->
                                                        <li class="product">
                                                            <div class="post_item_wrap">
                                                                <div class="post_featured">
                                                                    <div class="post_thumb">
                                                                        <a class="hover_icon hover_icon_link" href="shop-product-page.html">
                                                                            <img src="http://placehold.it/300x300"  alt="product" title="product" />
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="post_content">
                                                                    <a href="#">
                                                                        <h3>Noticia 2, titulo de ejemplo</h3>
                                                                        <span class="price">
                                                                            <span class="woocommerce-Price-amount amount">
                                                                                <span class="woocommerce-Price-currencySymbol"></span>Ver más
                                                                            </span>
                                                                        </span>
                                                                    </a>

                                                                </div>
                                                            </div>
                                                        </li>
                                                        <!-- /Product item -->
                                                        <!-- Product item -->
                                                        <li class="product">
                                                            <div class="post_item_wrap">
                                                                <div class="post_featured">
                                                                    <div class="post_thumb">
                                                                        <a class="hover_icon hover_icon_link" href="shop-product-page.html">
                                                                            <img alt="" src="http://placehold.it/300x300" />
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="post_content">
                                                                    <a href="shop-product-page.html">
                                                                        <h3>Noticia 3, título de ejemplo</h3>
                                                                        <span class="price">
                                                                            <span class="woocommerce-Price-amount amount">
                                                                                <span class="woocommerce-Price-currencySymbol"></span>Ver más
                                                                            </span>
                                                                        </span>
                                                                    </a>

                                                                </div>
                                                            </div>
                                                        </li>
                                                        <!-- /Product item -->
                                                        <!-- Product item -->
                                                        <li class="product last">
                                                            <div class="post_item_wrap">
                                                                <div class="post_featured">
                                                                    <div class="post_thumb">
                                                                        <a class="hover_icon hover_icon_link" href="shop-product-page.html">
                                                                            <img src="http://placehold.it/300x300" alt="product" title="product" />
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="post_content">
                                                                    <a href="shop-product-page.html">
                                                                        <h3>Noticia 4, título de ejemplo</h3>
                                                                        <span class="price">
                                                                            <span class="woocommerce-Price-amount amount">
                                                                                <span class="woocommerce-Price-currencySymbol"></span>Ver más
                                                                            </span>
                                                                        </span>
                                                                    </a>

                                                                </div>
                                                            </div>
                                                        </li>
                                                        <!-- /Product item -->
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!-- /Latest photo section -->
                                <!-- Field Review section -->

                                <!-- /Field Review section -->
                                <!-- Featured products section -->

                                <!-- /Featured products section -->
                                <!-- Membership section -->
                                <div class="sc_section margin_top_huge margin_bottom_huge">
                                   <div class="content_wrap">
                                        <div class="sc_section_inner">
                                            <div class="sc_section_content_wrap">
                                                <h2 class="sc_title sc_title_regular sc_align_center margin_top_null margin_bottom_null text_align_center">Agenda de actividades</h2>

                                                <div class="columns_wrap sc_columns columns_nofluid sc_columns_count_4 margin_bottom_huge">
                                                    <!-- Price block -->
                                                    <!-- /Price block --><!-- Price block --><!-- /Price block --><!-- Price block -->

                                                    <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;height=600&amp;wkst=2&amp;hl=es&amp;bgcolor=%23FFFFFF&amp;src=ab9n39i0r5j0qfdjq2id8na7d0%40group.calendar.google.com&amp;color=%238C500B&amp;ctz=America%2FGuayaquil" style="border-width:0" width="90%" height="600" frameborder="0" scrolling="no"></iframe>
                                                <!-- /Price block -->
                                            </div>
                                        </div>
                                   </div>
                                </div>
                                <!-- /Membership section -->
                                <!-- Team section -->

                                <!-- /Team section -->
                                <!-- Info section -->

                                <!-- /Info section -->
                                <!-- Map section -->
                                <div class="sc_section">
                                    <div class="sc_section_inner">
                                        <div class="sc_section_content_wrap">
                                            <div id="sc_googlemap_1_wrap" class="sc_googlemap_wrap">
                                                <div id="sc_googlemap_1" class="sc_googlemap width_100_per height_590" data-zoom="15" data-style="custom">
                                                    <div id="sc_googlemap_1_1" class="sc_googlemap_marker" data-title="U.S. Bank" data-description="&lt;p&gt;&lt;strong&gt;U.S. Bank&lt;/strong&gt;&lt;br /&gt;A reliable bank with ancient traditions and friendly staff&lt;/p&gt;" data-address="Cotopaxi Tenis Club" data-latlng="" data-point="{% static 'img/mapa.png' %}">
                                                    </div>
                                                </div>
                                                <!-- Contact form -->
                                                <div class="sc_googlemap_content">
                                                    <div id="sc_form_1_wrap" class="sc_form_wrap">
                                                        <div id="sc_form_1" class="sc_form sc_form_style_form_1">
                                                            <h2 style="font-size: 25px; text-align: center;" class="sc_form_title sc_item_title">CONTACTANOS</h2>
                                                            <div class="sc_form_descr sc_item_descr">
                                                            <form id="sc_form_1_form" data-formtype="form_1" method="post" action="include/sendmail.php">
                                                                <div class="sc_form_info">
                                                                    <div class="sc_form_item sc_form_field label_over">
                                                                        <label class="required" for="sc_form_username">NOMBRE</label>
                                                                        <input id="sc_form_username" type="text" name="username" placeholder="NOMBRE *">
                                                                    </div>
                                                                    <div class="sc_form_item sc_form_field label_over">
                                                                        <label class="required" for="sc_form_email">EMAIL</label>
                                                                        <input id="sc_form_email" type="text" name="email" placeholder="EMAIL">
                                                                    </div>
                                                                    <div class="sc_form_item sc_form_field label_over">
                                                                        <label class="required" for="sc_form_subj">ASUNTO</label>
                                                                        <input id="sc_form_subj" type="text" name="subject" placeholder="ASUNTO">
                                                                    </div>
                                                                </div>
                                                                <div class="sc_form_item sc_form_message label_over">
                                                                    <label class="required" for="sc_form_message">MENSAJE</label>
                                                                    <textarea id="sc_form_message" name="message" placeholder="MENSAJE"></textarea>
                                                                </div>
                                                                <div class="sc_form_item sc_form_button">
                                                                    <button>ENVIAR</button>
                                                                </div>
                                                                <div class="result sc_infobox"></div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /Contact form -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Map section -->
                            </section>
                        </article>
                    </div>
                    <!-- /Content -->
                </div>
{% endblock %}