<!DOCTYPE html>
{% load staticfiles %}
<html lang="es-EC" class="scheme_original">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">

    <title>Cotopaxi | Tenis Club</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/mapa.png' %}"/>
    <link rel="stylesheet" href="{% static "js/vendor/revslider/css/settings.css" %}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{% static "css/rev-slider.min.css" %}" type="text/css" media="all"/>

    <link rel="stylesheet" href="{% static "css/woocommerce/woocommerce-layout.css" %}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{% static "css/woocommerce/woocommerce-smallscreen.css" %}" type="text/css"
          media="only screen and (max-width: 768px)"/>
    <link rel="stylesheet" href="{% static "css/woocommerce/woocommerce.css" %}" type="text/css" media="all"/>

    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/fontello/css/fontello.css" %}" type="text/css" media="all"/>

    <link rel="stylesheet" href="{% static "css/style.min.css" %}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{% static "css/core.animation.min.css" %}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{% static "css/shortcodes.min.css" %}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{% static "css/plugin.woocommerce.min.css" %}" type="text/css" media="all"/>

    <link rel="stylesheet" href="{% static "css/skin.min.css" %}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{% static "css/responsive.min.css" %}" type="text/css" media="all"/>

    <link rel="stylesheet" href="{% static "css/core.messages.min.css" %}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{% static "js/vendor/magnific/magnific-popup.min.css" %}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{% static "css/core.portfolio.min.css" %}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{% static "js/vendor/swiper/swiper.min.css" %}" type="text/css" media="all"/>

    <link rel="icon" href="{% static "img/superior.png" %}"/>
</head>

<body class="home page body_style_wide body_filled article_style_stretch scheme_original top_panel_show top_panel_above sidebar_hide page_side_margins_on">
<!-- Body Wrap -->
<div class="body_wrap">
    <!-- Page Wrap -->
    <div class="page_wrap">
        <!-- Header -->
        <div class="top_panel_fixed_wrap"></div>
        <header class="top_panel_wrap top_panel_style_8 scheme_original">
            <div class="top_panel_wrap_inner top_panel_inner_style_8 top_panel_position_above">
                <div class="top_panel_middle">
                    <div class="content_wrap_1">
                        <!-- Logo area -->
                        <div class="contact_logo">
                            <div class="logo">
                                <a href="/">
                                    <img src="{% static "img/logo.png" %}" class="logo_main" alt="">
                                    <img src="{% static "img/logo.png" %}" class="logo_fixed" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- Logo area -->
                        <div class="top_panel_buttons">
                            <!-- Search -->
                            <div class="sc_socials sc_socials_type_icons sc_socials_shape_square sc_socials_size_tiny">
                                <div class="sc_socials_item">
                                    <a href="https://www.facebook.com/CotopaxiTenisClub/" target="_blank"
                                       class="social_icons social_facebook">
                                        <span class="icon-facebook"></span>
                                    </a>
                                </div>
                                <div class="sc_socials_item">
                                    <a href="https://www.instagram.com/cotopaxi_tenis_club/" target="_blank"
                                       class="social_icons social_instagramm">
                                        <span class="icon-instagramm"></span>
                                    </a>
                                </div>
                            </div>
                            <!-- /Search -->
                            <!-- Shopping Cart -->

                            <!-- /Shopping Cart -->
                        </div>
                        <div class="menu_pushy_wrap clearfix">
                            <a href="#" class="menu_pushy_button icon-three">MENÚ</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- /Header -->
        <!-- Pushy menu -->
        <nav class="menu_pushy_nav_area pushy pushy-left">
            <div class="pushy_inner">
                <a href="#" class="close-pushy"></a>
                <ul id="menu_pushy" class="menu_pushy_nav">
                    <!-- Menu Item: Home -->
                    <li class="menu-item current-menu-ancestor current-menu-parent">
                        <a href="/">INICIO</a>
                    </li>
                    <!-- /Menu Item: Home -->
                    <!-- Menu Item: Features -->
                    <li class="menu-item menu-item-has-children">
                        <a href="#">EL CLUB</a>
                        <ul class="sub-menu">
                            <li class="menu-item">
                                <a href="/historia">HISTORIA</a>
                            </li>
                            <li class="menu-item">
                                <a href="/directorio">DIRECTORIO</a>
                            </li>
                            <li class="menu-item menu-item-has-children">
                                <a href="#">GALERÍA</a>
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="/presidentes">PRESIDENTES</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/reinas">REINAS</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/estatutos">ESTATUTOS</a>
                                    </li>
                                </ul>
                            </li>
                             <li class="menu-item">
                                <a href="/instalaciones">INSTALACIONES</a>

                            </li>
                            <li class="menu-item">
                                <a href="{{ circular.documento.url }}">CIRCULAR</a>

                            </li>
                        </ul>
                    </li>
                    <!-- /Menu Item: Features -->
                    <!-- Menu Item: About -->
                    <li class="menu-item menu-item-has-children">
                        <a href="#">ACTIVIDADES</a>
                        <ul class="sub-menu">
                            <li class="menu-item">
                                <a href="/tenis">ESCUELA DE TENIS</a>
                            </li>
                            <li class="menu-item menu-item-has-children">
                                <a href="#">TORNEOS</a>
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="/ranking" title="">TORNEO RANKING</a>
                                    </li>

                                    <li class="menu-item">
                                        <a href="/dobles" title="">TORNEO DE DOBLES</a>
                                    </li>

                                    <li class="menu-item">
                                        <a href="/master" title="">TORNEO MASTER</a>
                                    </li>


                                    <li class="menu-item">
                                        <a href="/daviscup" title="">TORNEO COTOPAXI DAVIS CUP</a>
                                    </li>


                                    <li class="menu-item">
                                        <a href="/cotopaxi" title="">ASCENSO AL COTOPAXI</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="menu-item">
                                <a href="/eventos">ORGANIZACIÓN DE EVENTOS</a>
                            </li>

                        </ul>
                    </li>
                    <!-- /Menu Item: About -->
                    <!-- Menu Item: Events -->
                    <li class="menu-item">
                        <a href="/blog">NOVEDADES</a>

                    </li>
                    <!-- /Menu Item: Events -->
                    <li class="menu-item">
                        <a href="/contacto">CONTACTO</a>
                    </li>
                </ul>
                <!-- Contact Info -->
                <div class="contact_info">
                    <address class="contact_address">
                        <span>DIRECCIÓN:</span>
                        Panamericana Km 7, Laigua (6,50 km)
                    </address>
                    <address class="contact_phones">
                        <span>TELÉFONO:</span>
                        032262086 / 0995915350
                    </address>
                    <address class="contact_email">
                        <span>EMAIL:</span>
                        administracion@cotopaxitenisclub.com
                    </address>
                </div>
                <!-- /Contact Info -->
                <!-- Socials -->
                <div class="contact_socials">
                    <div class="sc_socials sc_socials_type_icons sc_socials_shape_square sc_socials_size_tiny">
                        <div class="sc_socials_item">
                            <a href="https://www.facebook.com/CotopaxiTenisClub/" target="_blank"
                               class="social_icons social_facebook">
                                <span class="icon-facebook"></span>
                            </a>
                        </div>
                        <div class="sc_socials_item">
                            <a href="https://www.instagram.com/cotopaxi_tenis_club/" target="_blank"
                               class="social_icons social_twitter">
                                <span class="icon-instagramm"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /Socials -->
            </div>
        </nav>
        <!-- /Pushy menu -->
        <!-- Site Overlay -->
        <div class="site-overlay"></div>
        <!-- Header mobile -->
        <div class="header_mobile ">
            <div class="content_wrap">
                <div class="menu_button icon-menu">MENÚ</div>
                <!-- Logo area -->
                <div class="logo">
                    <a href="/">
                        <img src="{% static "img/logo.png" %}" class="logo_main" alt="">
                    </a>
                </div>
                <!-- /Logo area -->
                <!-- Shopping cart -->
                <div class="menu_main_cart top_panel_icon">
                    <div class="sc_socials_item">
                        <a href="#" target="_blank" class="social_icons social_facebook">
                            <span style="padding:0.9%" class="icon-facebook"></span>
                            <span style="padding:0.9%" class="icon-instagramm"></span>
                        </a>
                    </div>
                </div>
                <!-- /Shopping cart -->
            </div>
            <!-- Side Wrap -->
            <div class="side_wrap">
                <div class="close">Close</div>
                <div class="panel_top">
                    <nav class="menu_main_nav_area">
                        <ul id="menu_main_mobile" class="menu_main_nav">
                            <!-- Menu Item: Home -->
                            <li class="menu-item current-menu-ancestor current-menu-parent">
                                <a href="/">INICIO</a>
                            </li>
                            <!-- /Menu Item: Home -->
                            <!-- Menu Item: Features -->
                            <li class="menu-item menu-item-has-children">
                                <a href="#">EL CLUB</a>
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="/historia">HISTORIA</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/directorio">DIRECTORIO</a>
                                    </li>
                                    <li class="menu-item menu-item-has-children">
                                        <a href="#">GALERIA</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item">
                                                <a href="/presidentes">PRESIDENTES</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="/reinas">REINAS</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="/estatutos">ESTATUTOS</a>
                                            </li>
                                        </ul>
                                    </li>
                                     <li class="menu-item">
                                        <a href="/instalaciones">INSTALACIONES</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="{{ circular.documento.url }}">CIRCULAR</a>

                                    </li>
                                </ul>
                            </li>
                            <!-- /Menu Item: Features -->
                            <!-- Menu Item: About -->
                            <li class="menu-item menu-item-has-children">
                                <a href="#">ACTIVIDADES</a>
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="/tenis">ESCUELA DE TENIS</a>
                                    </li>
                                    <li class="menu-item menu-item-has-children">
                                        <a href="#">TORNEOS</a>
                                        <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="/ranking" title="">TORNEO RANKING</a>
                                    </li>

                                    <li class="menu-item">
                                        <a href="/dobles" title="">TORNEO DE DOBLES</a>
                                    </li>

                                    <li class="menu-item">
                                        <a href="/master" title="">TORNEO MASTER</a>
                                    </li>


                                    <li class="menu-item">
                                        <a href="/daviscup" title="">TORNEO COTOPAXI DAVIS CUP</a>
                                    </li>


                                    <li class="menu-item">
                                        <a href="/cotopaxi" title="">ASCENSO AL COTOPAXI</a>
                                    </li>
                                </ul>
                                    </li>

                                    <li class="menu-item">
                                        <a href="/eventos">ORGANIZACION DE EVENTOS</a>
                                    </li>


                                </ul>
                            </li>
                            <!-- /Menu Item: About -->
                            <!-- Menu Item: Events -->
                          <li class="menu-item">
                        <a href="/blog">NOVEDADES</a>

                    </li>
                            <!-- /Menu Item: Events -->
                            <!-- Menu Item: Contacts -->
                            <li class="menu-item">
                        <a href="/contacto">CONTACTO</a>
                    </li>
                            <!-- /Menu Item: Contacts -->
                        </ul>
                    </nav>
                    <div class="panel_middle">
                        <div class="contact_field contact_address">
                            <span class="contact_icon icon-home"></span>
                            <span class="contact_label contact_address_1">Panamericana Km 7, Laigua (6,50 km)</span>
                            <span class="contact_address_2"></span>
                        </div>
                        <div class="contact_field contact_phone">
                            <span class="contact_icon icon-phone"></span>
                            <span class="contact_label contact_phone"><a href="tel:+59332262086">032 262 086</a> / <a href="tel:+593995915350">099 591 5350</a></span>
                            <span class="contact_email">administracion@cotopaxitenisclub.com</span>
                        </div>
                    </div>
                    <!-- /Contact info -->
                    <!-- Socials -->
                    <div class="panel_bottom">
                        <div class="contact_socials">
                            <div class="sc_socials sc_socials_type_icons sc_socials_shape_square sc_socials_size_tiny">
                                <div class="sc_socials_item">
                                    <a href="#" target="_blank" class="social_icons social_twitter">
                                        <span class="icon-facebook"></span>
                                    </a>
                                </div>
                                <div class="sc_socials_item">
                                    <a href="#" target="_blank" class="social_icons social_facebook">
                                        <span class="icon-instagramm"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Socials -->
                </div>
            </div>
            <!-- /Side Wrap -->
            <div class="mask"></div>
        </div>
        <!-- /Header mobile -->
        <!-- Revolution Slider -->

        {% block contenido %}

        {% endblock %}

        <!-- /Page Content Wrap -->
        <!-- Footer -->
        <footer class="footer_wrap widget_area">
            <div class="footer_wrap_inner widget_area_inner">
                <!-- Footer Content Wrap -->
                <div class="content_wrap">
                    <div class="columns_wrap">
                        <!-- Widget: Socials -->
                        <aside class="column-1_4 widget widget_socials">
                            <div style="text-align: center;" class="widget_inner">
                                <div class="logo">
                                    <a href="/">
                                        <img src="{% static "img/footer.png" %}" class="logo_main" alt="">
                                    </a>
                                </div>
                                <div class="logo_descr"><p style="text-align: justify;">Para el descanso y disfrute de
                                    nuestros servicios el club cuenta con diferetes areas para la realizacion de
                                    actividades</p></div>
                                <div class="sc_socials sc_socials_type_icons sc_socials_shape_square sc_socials_size_tiny">
                                    <div class="sc_socials_item">
                                        <a href="https://www.facebook.com/CotopaxiTenisClub/" target="_blank" class="social_icons social_twitter">
                                            <span class="icon-facebook"></span>
                                        </a>
                                    </div>
                                    <div class="sc_socials_item">
                                        <a href="https://www.instagram.com/cotopaxi_tenis_club/" target="_blank" class="social_icons social_facebook">
                                            <span class="icon-instagramm"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </aside><!-- /Widget: Socials --><!-- Widget: Recent Posts -->
                        <aside class="column-1_4 widget widget_recent_entries">
                            <h5 class="widget_title">ÚLTIMAS NOTICIAS</h5>
                            <ul>
                                {% for foo in publicaciones %}
                                    <li>
                                    <a href="/publicacion/{{ foo.id }}">{{ foo.titulo }}</a>
                                </li>
                                {% endfor %}
                                
                                
                            </ul>
                        </aside><!-- /Widget: Recent Posts --><!-- Widget: Text -->
                        <aside class="column-1_4 widget widget_text">
                            <h5 class="widget_title">CONTÁCTANOS</h5>
                            <div class="textwidget">
                                <p>DIRECCIÓN
                                    <span class="display_block">Panamericana Km 7, Laigua (6,50 km)</span>
                                </p>
                                <p>TELÉFONO
                                    <span class="display_block"><a href="tel:+59332262086">032 262 086</a> / <a href="tel:+593995915350">099 591 5350</a></span>
                                </p>
                                <p>EMAIL
                                    <span class="display_block">administracion@cotopaxitenisclub.com</span>
                                </p>
                            </div>
                        </aside><!-- /Widget: Text --><!-- Widget: Flickr -->
                        <aside class="column-1_4 widget widget_flickr">
                            <h5 class="widget_title">NUESTRAS GALERIAS</h5>
                            <div class="flickr_images">
                                <div class="flickr_badge_image">
                                    <a href="#">
                                        <img title="" alt="A photo on Flickr"
                                             src="{% static "./img/footer/tenis00001.jpg" %}">
                                    </a>
                                </div>
                                <div class="flickr_badge_image">
                                    <a href="#">
                                        <img title="" alt="A photo on Flickr"
                                             src="{% static "./img/footer/tenis00002.jpg" %}">
                                    </a>
                                </div>
                                <div class="flickr_badge_image">
                                    <a href="#">
                                        <img title="" alt="A photo on Flickr"
                                             src="{% static "./img/footer/tenis00003.jpg" %}">
                                    </a>
                                </div>
                                <div class="flickr_badge_image">
                                    <a href="#">
                                        <img title="" alt="A photo on Flickr"
                                             src="{% static "./img/footer/tenis00004.jpg" %}">
                                    </a>
                                </div>
                                <div class="flickr_badge_image">
                                    <a href="#">
                                        <img title="" alt="A photo on Flickr"
                                             src="{% static "./img/footer/tenis00001.jpg" %}">
                                    </a>
                                </div>
                                <div class="flickr_badge_image">
                                    <a href="#">
                                        <img title="" alt="A photo on Flickr"
                                             src="{% static "./img/footer/tenis00002.jpg" %}">
                                    </a>
                                </div>
                            </div>
                        </aside>
                        <!-- /Widget: Flickr -->
                    </div>
                </div>
                <!-- /Footer Content Wrap -->
            </div>
        </footer>
        <!-- /Footer -->
        <!-- Copyright -->
        <div class="copyright_wrap copyright_style_text">
            <div class="copyright_wrap_inner">
                <div class="content_wrap">
                    <div class="copyright_text">Cotopaxi Tenis Club © 2018

                    </div>
                </div>
            </div>
        </div>
        <!-- /Copyright -->
    </div>
    <!-- /Page Wrap -->
</div>
<!-- /Body Wrap -->

<a href="#" class="scroll_to_top icon-up" title="Arriba"></a>

<script type="text/javascript" src="{% static 'js/jquery/jquery.js' %}"></script>

<script type="text/javascript" src="{% static 'js/_packed.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>

<script type="text/javascript" src="{% static 'js/vendor/revslider/jquery.themepunch.tools.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/revslider/jquery.themepunch.revolution.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/vendor/revslider/revolution.extension.slideanims.min.js' %}"></script>
<script type="text/javascript"
        src="{% static 'js/vendor/revslider/revolution.extension.layeranimation.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/revslider/revolution.extension.navigation.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/rev-slider1.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/core.utils.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/core.init.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/template.init.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/shortcodes.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/core.messages.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/vendor/magnific/jquery.magnific-popup.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/vendor/isotope/dist/isotope.pkgd.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/hover/jquery.hoverdir.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/swiper/swiper.min.js' %}"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvUOqJ-ysSuVuy7U4GccLrZfUB24_rGhA"></script>
<script type="text/javascript" src="{% static 'js/core.googlemap.min.js' %}"></script>

</body>

</html>