{% extends 'layout.html' %}
{% load staticfiles %}
{% block contenido %}
                <!-- /Header mobile -->
                <!-- Page Content Wrap -->
                <div class="top_panel_title top_panel_style_8 title_present breadcrumbs_present scheme_original">
                    <div class="top_panel_title_inner top_panel_inner_style_8">
                        <div class="content_wrap">
                            <h1 class="page_title">TORNEO DE DOBLES</h1>
                            <div class="breadcrumbs">
                                <a class="breadcrumbs_item home" href="index.html">INICIO</a>
                                <span class="breadcrumbs_delimiter"></span>
                                <span class="breadcrumbs_item current">TORNEO DE DOBLES</span>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="page_content_wrap page_paddings_no">
                    <!-- Content -->
                    <div class="content">

                        <article class="post_item post_item_single page">

                            <section class="post_content">
                                <!-- Greeting section-->

                                <!-- /Greeting section-->
                                <!-- Field Review Section-->

                                <div class="sc_content custom_slider_1 alter_light_bg">
                                    <div class="content_wrap">
                                        <div class="columns_wrap sc_columns columns_nofluid sc_columns_count_2">
                                            <!-- Features -->
                                            <div class="column-1_2 sc_column_item sc_column_item_1 odd first">


                                                <h2 style="font-size: 35px;" class="sc_title sc_title_regular margin_bottom_null">Sistema de juego</h2>
                                                <div class=" margin_bottom_25_imp padding_right_5_per_imp">
                                                    <p class="font_size_0_875em" style="text-align: justify;">
                                                        <br><br>
Se convocarán a las 8 mejores de cada categoría y se jugará por el sistema de round robin en series de 4 jugadores. Los dos primeros de cada serie clasificarán a un cuadro de simple eliminación en series cruzadas, es decir, el primero del grupo A contra el segundo del cuadro B y el primero del cuadro B contra el segundo del grupo A. <br><br>
En el caso de empate para el octavo cupo se disputará un selectivo, para el puesto faltante con partidos de round robin.
                                                    </p>



                                                </div>


                                            </div><!-- /Features --><!-- Slider --><div class="column-1_2 sc_column_item sc_column_item_2 even text_align_center">
                                                <div class="sc_column_item_inner field_review_slider_pattern">
                                                    <div id="sc_slider_1" class="sc_slider sc_slider_swiper swiper-slider-container sc_slider_height_fixed sc_slider_nocontrols sc_slider_pagination sc_slider_bg width_100per border_none_imp" data-old-height="500px" data-interval="3000">
                                                        <div class="slides swiper-wrapper">
                                                            <div style="background-image: url({% static './img/ranking1.jpg' %});" class="swiper-slide field_review_slider_slide1" data-style="width:100%;height:500px;"></div>
                                                            <div style="background-image: url({% static './img/ranking2.jpg' %});" class="swiper-slide field_review_slider_slide2" data-style="width:100%;height:500px;"></div>

                                                        </div>
                                                        <div class="sc_slider_pagination_wrap"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /Slider -->
                                        </div>
                                    </div>
                                </div>
                                <!-- /Field Review Section-->

                            </section>
                        </article>
                    </div>
                    <!-- /Content -->
                <!-- /Page Content Wrap -->
                <!-- Footer -->
              {% endblock %}