{% extends 'layout.html' %}
{% load staticfiles %}
{% block contenido %}
    <!-- /Header mobile -->
    <!-- Page Content Wrap -->
    <div class="top_panel_title top_panel_style_8  title_present breadcrumbs_present scheme_original">
        <div class="top_panel_title_inner top_panel_inner_style_8 ">
            <div class="content_wrap">
                <h1 class="page_title">PRESIDENTES</h1>
                <div class="breadcrumbs">
                    <a class="breadcrumbs_item home" href="index.html">INICIO</a>
                    <span class="breadcrumbs_delimiter"></span>
                    <span class="breadcrumbs_item current">PRESIDENTES</span>
                </div>
            </div>
        </div>
    </div>
    <div class="page_content_wrap page_paddings_yes">
        <div class="content_wrap">
            <!-- Content -->
            <div class="content">
                <article class="post_item post_item_single page">
                    <section class="post_content ">
                        <!-- Shortcode: Table -->
                        <div class="sc_section">
                            <div class="sc_section_inner">
                                <div class="sc_section_content_wrap">
                                    <div class="sc_table width_100_per">
                                        <table>
                                            <tbody>
                                            <tr>
                                                <th class="width_10_per" colspan="3">PRESIDENTES DEL COTOPAXI TENIS
                                                    CLUB
                                                </th>

                                            </tr>
                                            <tr>
                                                <th><strong>N°</strong></th>
                                                <th><strong>NOMBRE</strong></th>
                                                <th><strong>PERÍODO</strong></th>
                                            </tr>
                                            <tr class="text_align_center">
                                                <td>1</td>
                                                <td style="text-align: justify; padding: 1%">Eco. Miguel Sansur
                                                    Holguín
                                                </td>
                                                <td style="text-align: justify; padding: 1%">2017-2019</td>
                                            </tr>
                                            <tr class="text_align_center">
                                                <td>2</td>
                                                <td style="text-align: justify; padding: 1%">Eco. Antonio Raúl Alfredo
                                                    Lanas Cevallos
                                                </td>
                                                <td style="text-align: justify; padding: 1%">2015-2017</td>
                                            </tr>
                                            <tr class="text_align_center">
                                                <td>3</td>
                                                <td style="text-align: justify; padding: 1%">Sr. Marco Patricio Olmedo
                                                    Arias
                                                </td>
                                                <td style="text-align: justify; padding: 1%">2013-2015</td>
                                            </tr>
                                            <tr class="text_align_center">
                                                <td>4</td>
                                                <td style="text-align: justify; padding: 1%">Dr. Diego Fernando
                                                    Peñaherrera Navas
                                                </td>
                                                <td style="text-align: justify; padding: 1%">2011-2013</td>
                                            </tr>
                                            <tr class="text_align_center">
                                                <td>5</td>
                                                <td style="text-align: justify; padding: 1%">Sr. Guillermo Eduardo
                                                    Mancheno Medina
                                                </td>
                                                <td style="text-align: justify; padding: 1%">2010-2011</td>
                                            </tr>
                                            <tr class="text_align_center">
                                                <td>6</td>
                                                <td style="text-align: justify; padding: 1%">Sr. Neils Aage Rasmussen
                                                    Hansen
                                                </td>
                                                <td style="text-align: justify; padding: 1%">2008-2010</td>
                                            </tr>
                                            <tr class="text_align_center">
                                                <td>7</td>
                                                <td style="text-align: justify; padding: 1%">Sr. Guillermo Eduardo
                                                    Mancheno Medina
                                                </td>
                                                <td style="text-align: justify; padding: 1%">2006-2008</td>
                                            </tr>
                                            <tr class="text_align_center">
                                                <td>8</td>
                                                <td style="text-align: justify; padding: 1%">Sr. Eduardo Alfredo Lanas
                                                    Cajiao
                                                </td>
                                                <td style="text-align: justify; padding: 1%">2004-2006</td>
                                            </tr>
                                            <tr class="text_align_center">
                                                <td>9</td>
                                                <td style="text-align: justify; padding: 1%">Sr. Neils Aage Rasmussen
                                                    Hansen
                                                </td>
                                                <td style="text-align: justify; padding: 1%">2002-2004</td>
                                            </tr>
                                            <tr class="text_align_center">
                                                <td>10</td>
                                                <td style="text-align: justify; padding: 1%">Dr. Ramiro Antonio Izurieta
                                                    Dillon
                                                </td>
                                                <td style="text-align: justify; padding: 1%">2000-2002</td>
                                            </tr>
                                            <tr class="text_align_center">
                                                <td>11</td>
                                                <td style="text-align: justify; padding: 1%">Harry Mario Enríquez
                                                    Gallegos
                                                </td>
                                                <td style="text-align: justify; padding: 1%">1998-2000</td>
                                            </tr>
                                            <tr class="text_align_center">
                                                <td>12</td>
                                                <td style="text-align: justify; padding: 1%">Sr. José Agustín Baquero
                                                    Sandoval
                                                </td>
                                                <td style="text-align: justify; padding: 1%">1996-1998</td>
                                            </tr>
                                            <tr class="text_align_center">
                                                <td>13</td>
                                                <td style="text-align: justify; padding: 1%">Sr. Neils Aage Rasmussen
                                                    Hansen
                                                </td>
                                                <td style="text-align: justify; padding: 1%">1994-1996</td>
                                            </tr>
                                            <tr class="text_align_center">
                                                <td>14</td>
                                                <td style="text-align: justify; padding: 1%">Sr. Miguel Sansur
                                                    Sakakini
                                                </td>
                                                <td style="text-align: justify; padding: 1%">1992-1994</td>
                                            </tr>
                                            <tr class="text_align_center">
                                                <td>15</td>
                                                <td style="text-align: justify; padding: 1%">Sr. Eduardo Maya</td>
                                                <td rowspan="2" style="text-align: justify; padding: 1%">1990-1992</td>
                                            </tr>
                                            <tr class="text_align_center">
                                                <td>16</td>
                                                <td style="text-align: justify; padding: 1%">Dr. Marco Antonio Nogales
                                                    López
                                                </td>

                                            </tr>
                                            <tr class="text_align_center">
                                                <td>17</td>
                                                <td style="text-align: justify; padding: 1%">Sr. Antonio Cisneros</td>
                                                <td rowspan="2" style="text-align: justify; padding: 1%">1988-1990</td>
                                            </tr>
                                            <tr class="text_align_center">
                                                <td>18</td>
                                                <td style="text-align: justify; padding: 1%">Dr. Ramiro Antonio Izurieta
                                                    Dillon
                                                </td>
                                            </tr>
                                            <tr class="text_align_center">
                                                <td>19</td>
                                                <td style="text-align: justify; padding: 1%">Sr. Alejando Medina</td>
                                                <td rowspan="2" style="text-align: justify; padding: 1%">1986-1988</td>
                                            </tr>
                                            <tr class="text_align_center">
                                                <td>20</td>
                                                <td style="text-align: justify; padding: 1%">Sr. Antonio Cisneros</td>
                                            </tr>
                                            <tr class="text_align_center">
                                                <td>21</td>
                                                <td style="text-align: justify; padding: 1%">Sr. Ángel Jaramillo</td>
                                                <td style="text-align: justify; padding: 1%">1984-1986</td>
                                            </tr>
                                            <tr class="text_align_center">
                                                <td>22</td>
                                                <td style="text-align: justify; padding: 1%">Sr. Miguel Sansur
                                                    Sakakini
                                                </td>
                                                <td style="text-align: justify; padding: 1%">1982-1984</td>
                                            </tr>
                                            <tr class="text_align_center">
                                                <td>23</td>
                                                <td style="text-align: justify; padding: 1%">Sr. Ángel Jaramillo</td>
                                                <td style="text-align: justify; padding: 1%">1980-1982</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- /Shortcode: Table -->
                    </section>
                </article>
            </div>
            <!-- /Content -->

        </div>
    </div>
    <!-- /Page Content Wrap -->
    <!-- Footer -->
{% endblock %}