{% extends 'layout.html' %}
{% load staticfiles %}
{% block contenido %}
    <!-- /Header mobile -->
    <!-- Page Content Wrap -->
    <div class="top_panel_title top_panel_style_8  title_present breadcrumbs_present scheme_original">
        <div class="top_panel_title_inner top_panel_inner_style_8 ">
            <div class="content_wrap">
                <h1 class="page_title">REINAS</h1>
               <div class="breadcrumbs">
                    <a class="breadcrumbs_item home" href="index.html">INICIO</a>
                    <span class="breadcrumbs_delimiter"></span>
                    <span class="breadcrumbs_item">EL CLUB</span>
                             <span class="breadcrumbs_delimiter"></span>
                    <span class="breadcrumbs_item">GALERÍA</span>
                             <span class="breadcrumbs_delimiter"></span>
                    <span class="breadcrumbs_item current">REINAS</span>
                </div>
            </div>
        </div>
    </div>
    <div class="page_content_wrap page_paddings_yes">
        <div class="content_wrap">
            <!-- Content -->
            <div class="content">
                <article class="post_item post_item_single page">
                    <section class="post_content ">
                        <!-- Shortcode: Table -->
                        <div class="sc_section">
                            <div class="sc_section_inner">
                                <div class="sc_section_content_wrap">
                                    <div class="sc_table width_100_per">
                                        <table>
                                            <tbody>
                                            <tr>
                                                <th class="width_10_per" colspan="3">REINAS DEL COTOPAXI TENIS CLUB</th>
                                            </tr>
                                            <tr>
                                                <th><strong>N°</strong></th>
                                                <th><strong>NOMBRE</strong></th>
                                                <th><strong>PERÍODO</strong></th>
                                            </tr>
                                            <tr class="text_align_center">
                                                <td>1</td>
                                                <td style="text-align: justify; padding: 1%">Srta. María Fernanda
                                                    Sotomayor Carrasco
                                                </td>
                                                <td style="text-align: justify; padding: 1%">2012-2013</td>
                                            </tr>
                                            <tr class="text_align_center">
                                                <td>2</td>
                                                <td style="text-align: justify; padding: 1%">Srta. Lía Paulina Semanate
                                                    Gonzáles
                                                </td>
                                                <td style="text-align: justify; padding: 1%">2011-2012</td>
                                            </tr>
                                            <tr class="text_align_center">
                                                <td>3</td>
                                                <td style="text-align: justify; padding: 1%">Srta. Ana Cristina Aizaga
                                                    Benalcázar
                                                </td>
                                                <td style="text-align: justify; padding: 1%">2010-2011</td>
                                            </tr>
                                            <tr class="text_align_center">
                                                <td>4</td>
                                                <td style="text-align: justify; padding: 1%">Srta. Mónica Daniela Lanas
                                                    Gonzáles
                                                </td>
                                                <td style="text-align: justify; padding: 1%">2007-2008</td>
                                            </tr>
                                            <tr class="text_align_center">
                                                <td>5</td>
                                                <td style="text-align: justify; padding: 1%">Srta. Cecilia Reyes</td>
                                                <td style="text-align: justify; padding: 1%">2006-2007</td>
                                            </tr>
                                            <tr class="text_align_center">
                                                <td>6</td>
                                                <td style="text-align: justify; padding: 1%">Srta. Maricruz Cepeda
                                                    Torres
                                                </td>
                                                <td style="text-align: justify; padding: 1%">2005-2006</td>
                                            </tr>
                                            <tr class="text_align_center">
                                                <td>7</td>
                                                <td style="text-align: justify; padding: 1%">Srta. María Soledad Torres
                                                    Núñez
                                                </td>
                                                <td style="text-align: justify; padding: 1%">2004-2005</td>
                                            </tr>
                                            <tr class="text_align_center">
                                                <td>8</td>
                                                <td style="text-align: justify; padding: 1%">Srta. María Isabel Baquero
                                                    Holguín
                                                </td>
                                                <td style="text-align: justify; padding: 1%">2003-2004</td>
                                            </tr>
                                            <tr class="text_align_center">
                                                <td>9</td>
                                                <td style="text-align: justify; padding: 1%">Srta. Ángela Andrea Yarad
                                                    Jeada
                                                </td>
                                                <td style="text-align: justify; padding: 1%">2002-2003</td>
                                            </tr>
                                            <tr class="text_align_center">
                                                <td>10</td>
                                                <td style="text-align: justify; padding: 1%">Srta. Marcela de Lourdes
                                                    Naranjo Vega
                                                </td>
                                                <td style="text-align: justify; padding: 1%">2001-2002</td>
                                            </tr>
                                            <tr class="text_align_center">
                                                <td>11</td>
                                                <td style="text-align: justify; padding: 1%">Srta. María Gabriela
                                                    Izurieta Alarcón
                                                </td>
                                                <td style="text-align: justify; padding: 1%">1990-2000</td>
                                            </tr>
                                            <tr class="text_align_center">
                                                <td>12</td>
                                                <td style="text-align: justify; padding: 1%">Srta. Sofía Alexandra
                                                    Tamayo Salazar
                                                </td>
                                                <td style="text-align: justify; padding: 1%">1998-1999</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- /Shortcode: Table -->
                    </section>
                </article>
            </div>
            <!-- /Content -->

        </div>
    </div>
    <!-- /Page Content Wrap -->
    <!-- Footer -->
{% endblock %}