{% extends 'layout.html' %}
{% load staticfiles %}
{% block contenido %}
                <!-- /Header mobile -->
                <!-- Page Content Wrap -->
                <div class="top_panel_title top_panel_style_8 title_present breadcrumbs_present scheme_original">
                    <div class="top_panel_title_inner top_panel_inner_style_8">
                        <div class="content_wrap">
                            <h1 class="page_title">ESCUELA DE TENIS</h1>
                            <div class="breadcrumbs">
                                <a class="breadcrumbs_item home" href="index.html">INICIO</a>
                                <span class="breadcrumbs_delimiter"></span>
                                <span class="breadcrumbs_item current">ESCUELA DE TENIS</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page_content_wrap page_paddings_yes">
                    <!-- Content Wrap -->
                    <div class="content_wrap">
                        <div class="content">
                            <!-- Isotope wrap -->
                            <div class="isotope_wrap " data-columns="3">
                                <!-- Isotope item -->
                                <div class="isotope_item isotope_column_3">
                                    <article class="post_item odd">
                                        <div class="post_featured">
                                            <div class="post_thumb">
                                                <img alt="Tips for improving your serve" src="{% static 'img/1.jpg' %}">
                                            </div>
                                        </div>
                                        <div class="post_content isotope_item_content">
                                            <h5 class="post_title">
                                                MINI TENIS
                                            </h5>
                                            <div class="post_descr">
                                                <p>Edad: desde a 4 años a 6 años <br>
                                                   Actividades: Tenis lúdico en motricidad, Iniciación al tenis sin parámetro técnico.<br>
                                                   Horarios:<br>
                                                   Martes y Jueves de 15h00 a 16h00
                                                </p>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <!-- /Isotope item -->
                                <!-- Isotope item -->
                                <div class="isotope_item isotope_column_3">
                                    <article class="post_item odd">
                                        <div class="post_featured">
                                            <div class="post_thumb">
                                                <img alt="Tips for improving your serve" src="{% static 'img/2.jpg' %}">
                                            </div>
                                        </div>
                                        <div class="post_content isotope_item_content">
                                            <h5 class="post_title">
                                                INICIACIÓN 
                                            </h5>
                                            <div class="post_descr">
                                                <p> Edad: desde a 6 años a 10 años<br>
                                                    Actividades: Trabajo técnico y Táctico, coordinación, movilidad, reacción<br>
                                                    Horarios: <br>
                                                    Lunes a Viernes de 16h00 a 17h00
                                                </p>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <!-- /Isotope item -->
                                <!-- Isotope item -->
                                <div class="isotope_item isotope_column_3">
                                    <article class="post_item odd">
                                        <div class="post_featured">
                                            <div class="post_thumb">
                                                <img alt="Tips for improving your serve" src="{% static 'img/3.jpg' %}">
                                            </div>
                                        </div>
                                        <div class="post_content isotope_item_content">
                                            <h5 class="post_title">
                                                ESCUELA DE EJECUTIVOS
                                            </h5>
                                            <div class="post_descr">
                                                <p> Edad: Libre<br>
                                                    Actividades: Se trabaja motricidad, golpes básicos, inducción al juego <br>
                                                    Horarios:<br> Lunes y Miércoles de 18h30 a  20H00<br>
                                                </p>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <!-- /Isotope item -->
                                <!-- Isotope item -->
                                <div class="isotope_item isotope_column_3">
                                    <article class="post_item odd">
                                        <div class="post_featured">
                                            <div class="post_thumb">
                                                <img alt="Tips for improving your serve" src="{% static 'img/4.jpg' %}">
                                            </div>
                                        </div>
                                        <div class="post_content isotope_item_content">
                                            <h5 class="post_title">
                                                COMPETICIÓN
                                            </h5>
                                            <div class="post_descr">
                                                <p> Edad: desde a 12 años a 18 años<br>
                                                    Actividades: Trabajo de fuerza, táctica de juego, técnica y trabajo físico.<br>
                                                    Horarios:<br>
                                                    Lunes, Miércoles y Viernes de 16h30 a 18h30<br>
                                                              Martes y Jueves de 16h a 18h30<br>
                                                </p>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <!-- /Isotope item -->
                                <!-- Isotope item -->
                                <div class="isotope_item isotope_column_3">
                                    <article class="post_item odd">
                                        <div class="post_featured">
                                            <div class="post_thumb">
                                                <img alt="Tips for improving your serve" src="{% static 'img/5.jpg' %}">
                                            </div>
                                        </div>
                                        <div class="post_content isotope_item_content">
                                            <h5 class="post_title">
                                                PERFECCIONAMIENTO
                                            </h5>
                                            <div class="post_descr">
                                                <p> Edad: desde a 9 años a 14 años<br>
                                                    Actividades: Ejercicios tácticos y técnicos, se trabaja con fuerza y coordinación<br>
                                                    Horarios:<br> 
                                                    Lunes, Miércoles y Viernes de 16h30 a 18h30<br>
                                                   Martes y Jueves de 16h a 18h30
                                                </p>
                                                
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <!-- /Isotope item -->
                                <!-- Isotope item -->
                                <div class="isotope_item isotope_column_3">
                                    <article class="post_item odd">
                                        <div class="post_featured">
                                            <div class="post_thumb">
                                                <img alt="Tips for improving your serve" src="{% static 'img/6.jpg' %}">
                                            </div>
                                        </div>
                                        <div class="post_content isotope_item_content">
                                            <h5 class="post_title">
                                                ESCUELA DE DAMAS
                                            </h5>
                                            <div class="post_descr">
                                                <p> Edad: Libre<br>
                                                    Actividades: Se trabaja motricidad, golpes básicos, inducción al juego<br>
                                                    Horarios:<br>  Martes de 07h30 a 09h00
                                                           Jueves de 17h30 a 19h00<br>
                                                           Sábados de 06h00 a 08h00<br>
                                            
                                                </p>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <!-- /Isotope item -->
                            </div>
                        </div>
                    </div>
                    <!-- /Content Wrap -->
                </div>
                <!-- /Page Content Wrap -->
                <!-- Footer -->
              {% endblock %}